{% extends 'backend/index.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/backend/css/style.default.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/backend/css/jquery.datatables.css') }}" rel="stylesheet">
    <style>
        #table2 tbody tr {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block pageHeader %}
    <div class="pageheader">
        <h2><i class="fa fa-home"></i> Sliders <span>management & list...</span></h2>
        <div class="breadcrumb-wrapper">
            <span class="label">Add a new slide here : </span>
            <ol class="breadcrumb">
                <li><a href="{{ path('slider_new') }}"><i class="fa fa-plus-square"></i></a></li>
                <li class="active">List Sliders</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block contentPanel %}
    <div class="contentpanel">

        <div class="row">

            <div class="col-sm-12">

                {% if sliders %}
                    <div class="panel panel-default">
                        {#<div class="panel-heading">
                            <div class="panel-btns">
                                <a href="" class="panel-close">×</a>
                                <a href="" class="minimize">−</a>
                            </div><!-- panel-btns -->
                            <h3 class="panel-title">Data Tables</h3>
                            <p>DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, which will add advanced interaction controls to any HTML table.</p>
                        </div>#}
                        <div class="panel-body">
                            {#<h5 class="subtitle mb5">Alternative Pagination</h5>
                            <p>The example below shows the full_numbers type of pagination, where 'first', 'previous', 'next' and 'last' buttons are presented, as well as the five pages around the current page.</p>
                            <br>#}
                            {% for label, messages in app.flashes(['warning', 'error', 'success', 'info', 'notice','primary']) %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }} alert-dismissable" id="messagesAlerte">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            <div class="table-responsive">
                                <table class="table table-hidaction table-hover" id="table2">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Slide Type</th>
                                        <th>Caption n°1</th>
                                        <th>Caption n°2</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for slide in sliders %}
                                        <tr class="{% if loop.index is odd %}odd gradeX{% else %}even gradeC{% endif %}">
                                            <td class="center">{{ slide.sliderId }}</td>
                                            <td class="center">
                                            {% if slide.slideStyle == 'video' %}
                                                <a href="#" data-toggle="modal" data-target="#fileModal-{{ slide.sliderId }}">
                                                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                                                </a>
                                            {% else %}
                                                <a href="#" data-toggle="modal" data-target="#fileModal-{{ slide.sliderId }}">
                                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                                <!-- Modal -->
                                                <div class="modal fade" id="fileModal-{{ slide.sliderId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">
                                                                    {% if slide.slideStyle == 'video' %}
                                                                        {{ slide.slideVideoName }}
                                                                    {% else %}
                                                                        {{ slide.slideName }}
                                                                    {% endif %}
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                {% if slide.slideStyle == 'video' %}
                                                                    <div class="embed-responsive embed-responsive-16by9">
                                                                        <iframe class="embed-responsive-item" src="{{ asset('uploads/Slides/videos/'~slide.slideVideoName) }}"></iframe>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="thumbnail">
                                                                        <img src="{{ asset('uploads/Slides/images/'~slide.slideName) }}" class="img-responsive"/>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="center">{{ slide.caption1 }}</td>
                                            <td class="center">{{ slide.caption2 }}</td>

                                            <td class="table-action-hide">
                                                {% if slide.isPublicated == '1' %}
                                                    <a href="{{ path('slider_unpublish', {id: slide.sliderId}) }}" style="opacity: 1;" class="warning" title="publish"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>

                                                {% else %}
                                                    <a href="{{ path('slider_edit', {id: slide.sliderId}) }}" style="opacity: 1;" class="info" title="edit"><i class="fa fa-pencil"></i></a>
                                                    <a style="opacity: 1;" class="danger" data-toggle="modal" data-target="#modalDeleteSlider-{{ slide.sliderId }}" title="delete" >
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                    <a href="{{ path('slider_publish', {id: slide.sliderId}) }}" style="opacity: 1;" class="success" title="publish"><i class="fa fa-cloud-upload" aria-hidden="true"></i></a>
                                                {% endif %}


                                                <!-- Modal -->
                                                <div class="modal fade" id="modalDeleteSlider-{{ slide.sliderId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h3>Are you sure to delete this slider :</h3>
                                                                <br>
                                                                {% if slide.slideStyle == 'video' %}
                                                                    <div class="embed-responsive embed-responsive-16by9">
                                                                        <video controls>
                                                                            <source src="{{ asset('uploads/Slides/videos/'~slide.slideVideoName) }}" type="video/mp4" />
                                                                        </video>
                                                                        {#<iframe class="embed-responsive-item" src="{{ asset('uploads/Slides/videos/'~slide.slideVideoName) }}" ></iframe>#}
                                                                    </div>
                                                                {% else %}
                                                                    <div class="thumbnail">
                                                                        <img src="{{ asset('uploads/Slides/images/'~slide.slideName) }}" class="img-responsive"/>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <a href="{{ path('slider_delete', {id: slide.sliderId}) }}" class="btn btn-danger">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->

                        </div><!-- panel-body -->
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Info : </strong>
                        There is no slide in your database ! you can add a new slide by pressing the plus button in the top.
                    </div>
                {% endif %}


            </div><!-- col-sm-12 -->

        </div><!-- row -->

    </div><!-- contentpanel -->

{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/backend/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/modernizr.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/toggles.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/retina.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/jquery.cookies.js') }}"></script>
    <script src="{{ asset('assets/backend/js/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/custom.js') }}"></script>

    <script>
        jQuery(document).ready(function() {

            "use strict";

            // Alert auto Close
            $("#messagesAlerte").fadeTo(3000, 2000).slideUp(2000, function(){
                $("messagesAlerte").slideUp(2000);
            });

            jQuery('#table2').dataTable({
                "sPaginationType": "full_numbers"
            });

            // Select2
            jQuery('select').select2({
                minimumResultsForSearch: -1
            });

            jQuery('select').removeClass('form-control');

            // Delete row in a table
            jQuery('.delete-row').click(function(){
                var c = confirm("Continue delete?");
                if(c)
                    jQuery(this).closest('tr').fadeOut(function(){
                        jQuery(this).remove();
                    });

                return false;
            });

            // Show aciton upon row hover
            jQuery('.table-hidaction tbody tr').hover(function(){
                jQuery(this).find('.table-action-hide a').animate({opacity: 1});
            },function(){
                jQuery(this).find('.table-action-hide a').animate({opacity: 0});
            });


        });
    </script>
{% endblock %}