{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'frontend/index.html.twig' %}

{% block body %}
    {% block loader %}
        {% include 'frontend/partials/layout_1/_loader.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'frontend/partials/layout_1/_menu.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include 'frontend/partials/layout_1/_header.html.twig' %}
    {% endblock %}

    {% block breadcrumb %}
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li>Login</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <!-- Content -->
        <div id="pageContent">

            {% block slider %}
                <div class="container offset-18">
                    <h1 class="block-title large">Login</h1>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="login-form-box">
                                <h2>NEW CUSTOMERS</h2>
                                <div class="extra-indent-bottom">
                                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                                </div>
                                <div class="extra-bottom">
                                    <a href="{{ path('register') }}">
                                        <button class="btn btn-border color-default">CREATE AN ACCOUNT</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="login-form-box">
                                <div class="row">
                                    {% if error %}
                                        <div class="alert alert-danger alert-dismissable" id="messagesAlerte">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    {% endif %}
                                </div>

                                <h2>REGISTERED CUSTOMERS</h2>
                                <p>
                                    If you have an account with us, please log in.
                                </p>

                                <form action="{{ path('login') }}" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
										<span class="input-group-addon">
										<span class="icon icon-person_outline"></span>
										</span>
                                            <input type="text" class="form-control" id="username_login" name="_username" value="{{ last_username }}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
										<span class="input-group-addon">
										<span class="icon icon-lock_outline"></span>
										</span>
                                            <input type="password" class="form-control" id="password_login" name="_password" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-lg-3">
                                            <button type="submit" class="btn" >SIGN IN</button>
                                        </div>
                                        <div class="col-md-12 col-lg-9">
                                            <ul class="additional-links">
                                                {#<li><a href="#">Forgot your username?</a></li>#}
                                                <li><a href="{{ path('forgot_password') }}">Forgot your password?</a></li>
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                                <input type="hidden" name="_target_path" value="/" />
                                            </ul>
                                        </div>
                                    </div>
                                    {#<input type="checkbox" id="remember_me" name="_remember_me" checked />
                                    <label for="remember_me">Keep me logged in</label>#}

                                    {#
                                        If you want to control the URL the user
                                        is redirected to on success (more details below)
                                        <input type="hidden" name="_target_path" value="/account" />
                                    #}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block promo %}
                {#{% include 'frontend/partials/layout_1/_promo.html.twig' %}#}
            {% endblock %}

            {% block collections %}
                {#{% include 'frontend/partials/layout_1/_collections.html.twig' %}#}
            {% endblock %}

            {% block features %}
                {#{% include 'frontend/partials/layout_1/_features.html.twig' %}#}
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'frontend/partials/layout_1/_footer.html.twig' %}
    {% endblock %}

    {% block modal %}
        {% include 'frontend/partials/layout_1/_modal.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        {% include 'frontend/partials/layout_1/_javascript.html.twig' %}
    {% endblock %}
{% endblock %}

