{% extends 'backend/index.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/backend/css/style.default.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/backend/css/jquery.datatables.css') }}" rel="stylesheet">
    <style>
        #table2 tbody tr {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block pageHeader %}
    <div class="pageheader">
        <h2><i class="fa fa-home"></i> Clients <span>management & list...</span></h2>
        <div class="breadcrumb-wrapper"></div>
    </div>
{% endblock %}

{% block contentPanel %}
    <div class="contentpanel">

        <div class="row">

            <div class="col-sm-12">
                {% set total = 0 %}
                {% set totalProducts = 0 %}
                {% if clients %}
                    <div class="panel panel-default">

                        <div class="panel-body">
                            {% for label, messages in app.flashes(['warning', 'error', 'success', 'info', 'notice','primary']) %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }} alert-dismissable" id="messagesAlerte">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            <div class="table-responsive">
                                <table class="table table-hidaction table-hover" id="table3">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>LastName</th>
                                        <th>Email</th>
                                        <th>Carts</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for client in clients %}

                                        <!-- Modal -->
                                        <div class="modal fade" id="cartsModal-{{ client.userId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">
                                                            Carts
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            {% for cart in client.carts %}
                                                                {% for article in cart.articles %}
                                                                    {% set totalProducts = total + article.price  %}
                                                                    {% set total = totalProducts %}
                                                                {% endfor %}
                                                                <div class="col-md-4">
                                                                    <div class="thumbnail">
                                                                        <p class="text-center">
                                                                            <i class="fa fa-shopping-cart fa-4x text-success"></i>
                                                                        </p>
                                                                        <div class="caption" style="text-align: left">
                                                                            <ul class="list-group">
                                                                                <li class="list-group-item">
                                                                                    <span class="badge badge-success">{{ cart.cartId }}</span>
                                                                                    # :
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="badge badge-success">{{ cart.checkedAt|date("jS F Y \\a\\t g:ia") }}</span>
                                                                                    Date :
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="badge badge-success">{{ cart.articles|length }}</span>
                                                                                    Number of articles :
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="badge badge-success"> {{ totalProducts|number_format(2, '.', ' ') }} KWD</span>
                                                                                    Total :
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- endModal -->

                                        <tr class="{% if loop.index is odd %}odd gradeX{% else %}even gradeC{% endif %}">
                                            <td class="center">{{ client.userId }}</td>
                                            <td class="center">{{ client.name }}</td>
                                            <td class="center">{{ client.lastName }}</td>
                                            <td class="center">{{ client.email }}</td>
                                            <td class="center">
                                                <a class="label label-success" data-toggle="modal" data-target="#cartsModal-{{ client.userId }}">
                                                    Carts {{ client.carts|length }}
                                                </a>
                                            </td>
                                            <td class="table-action-hide">
                                                <a href="{{ path('client_view', {'id': client.userId}) }}" data-toggle="tooltip" data-placement="left" style="opacity: 1;cursor: pointer" class="success" title="View Client">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->


                        </div><!-- panel-body -->
                    </div>

                {% else %}
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Info : </strong>
                        There is no Order on your website !
                    </div>
                {% endif %}


            </div><!-- col-sm-12 -->

        </div><!-- row -->

    </div><!-- contentpanel -->

{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/backend/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/modernizr.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/toggles.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/retina.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/jquery.cookies.js') }}"></script>
    <script src="{{ asset('assets/backend/js/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/backend/js/custom.js') }}"></script>

    <script>
        jQuery(document).ready(function() {

            "use strict";

            // tooltip bootstrap
            $('[data-toggle="tooltip"]').tooltip();

            // Alert auto Close
            $("#messagesAlerte").fadeTo(3000, 2000).slideUp(2000, function(){
                $("messagesAlerte").slideUp(2000);
            });

            jQuery('#table3').dataTable({
                "sPaginationType": "full_numbers"
            });

            // Select2
            jQuery('select').select2({
                minimumResultsForSearch: -1
            });

            jQuery('select').removeClass('form-control');

            // Delete row in a table
            jQuery('.delete-row').click(function(){
                var c = confirm("Continue delete?");
                if(c)
                    jQuery(this).closest('tr').fadeOut(function(){
                        jQuery(this).remove();
                    });

                return false;
            });

            // Show aciton upon row hover
            jQuery('.table-hidaction tbody tr').hover(function(){
                jQuery(this).find('.table-action-hide a').animate({opacity: 1});
            },function(){
                jQuery(this).find('.table-action-hide a').animate({opacity: 0});
            });


        });
    </script>
{% endblock %}