{% extends 'frontend/index.html.twig' %}

{% block head %}
    <title>{% block title %}Checkout - Dar Nawal{% endblock %}</title>
    <meta name="keywords" content="Dar, Nawal, Caftan, Couture, Moroccan, Kaftan">
    <meta name="description"
          content="Dar Nawal has the checkout page, you will find to order and pay your order"
    >
    {% block stylesheets %}
        {% include 'frontend/partials/layout_1/_stylesheets.html.twig' %}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block loader %}
        {% include 'frontend/partials/layout_1/_loader.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'frontend/partials/layout_1/_menu.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include 'frontend/partials/layout_1/_header.html.twig' %}
    {% endblock %}

    {% block breadcrumb %}
        {#<script src="https://www.paypalobjects.com/api/checkout.js"></script>#}

        <style>
            .icons-set span {
                font-size: 73px;
                line-height: 100px;
            }

            .icons-set span:hover {
                color: #2c2c2c;
            }

            .payment-list ul li a {
                background: transparent;
                display: inline; /* table-cell */
            }
            .payment-list ul li .paypal:hover, .payment-list ul li .braintree:hover{
                cursor: pointer;
            }
        </style>
        <script src="{{ asset('assets/frontend/js/money.js') }}"></script>
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li>Check Out</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <!-- Content -->
        <div id="pageContent">

            {% block slider %}
                {% set total = 0 %}
                {% set totalProducts = 0 %}
                {% if cart %}
                    <div class="container offset-18">
                        <h1 class="block-title large">Checkout</h1>
                        <div class="row offset-48">
                            <div class="col-md-8">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs checkout-tab">
                                    <li class="active" id="address">
                                        <a disabled>
                                            <div class="numeral-box">
                                                <span class="numeral">1</span>
                                                <span class="icon icon-check"></span>
                                            </div>
                                            <div class="title">
                                                Shipping
                                            </div>
                                        </a>
                                    </li>
                                    <li id="payment">
                                        <a disabled >
                                            <div class="numeral-box">
                                                <span class="numeral">2</span>
                                            </div>
                                            <div class="title">
                                                Review &amp; Payments
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                {{ form_start(form, {'attr': {'id': 'address_form'}}) }}
                                    {% if form_errors(form.adressText) is not empty %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            Address : {{ form_errors(form.adressText) }}
                                        </div>
                                    {% endif %}
                                    {#{% if form_errors(form.city) is not empty %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            City : {{ form_errors(form.city) }}
                                        </div>
                                    {% endif %}#}
                                    {% if form_errors(form.zipCode) is not empty %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            Zip Code : {{ form_errors(form.zipCode) }}
                                        </div>
                                    {% endif %}
                                    {% if form_errors(form.phone) is not empty %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            Phone Number : {{ form_errors(form.phone) }}
                                        </div>
                                    {% endif %}
                                    {#{% if form_errors(form.country) is not empty %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            Country : {{ form_errors(form.country) }}
                                        </div>
                                    {% endif %}#}

                                    <script type= "text/javascript" src = "{{ asset('assets/frontend/js/countries.js') }}"></script>

                                    <div class="tab-content checkout-tab-content">
                                    <div class="tab-pane active" id="Shipping">
                                        <h2 class="title-checkout">SHIPPING ADDRESS</h2>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputFirstName" class="col-sm-3 control-label">First Name: <span>*</span></label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" value="{{ cart.user.name }}" id="inputFirstName" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputLastName" class="col-sm-3 control-label">Last Name: <span>*</span></label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" value="{{ cart.user.lastName }}" id="inputLastName" disabled>
                                                </div>
                                            </div>
                                            <!---------------------- Adress form ---------------->


                                                <div class="form-group">
                                                    <label for="inputStreet" class="col-sm-3 control-label">Address: <span>*</span></label>
                                                    <div class="col-sm-9">
                                                        {{ form_widget(form.adressText, {'id': 'inputStreet', 'attr': {'class': 'form-control'} }) }}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputZip" class="col-sm-3 control-label">Zip/Postal Code: <span>*</span></label>
                                                    <div class="col-sm-9">
                                                        {{ form_widget(form.zipCode, {'id': 'inputZip', 'attr': {'class': 'form-control'} }) }}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="address[country]" class="col-sm-3 control-label">Country: <span>*</span></label>
                                                    <div class="col-sm-9">
                                                        <select id="address[country]" name="country" class="form-control"></select>
                                                        {#{{ form_widget(form.country, {'id': 'address[country]', 'attr': {'class': 'form-control'} }) }}#}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="address[city]" class="col-sm-3 control-label">City: <span>*</span></label>
                                                    <div class="col-sm-9">
                                                        <select id="address[city]" name="city" class="form-control"></select>
                                                        {#{{ form_widget(form.city, {'id': 'address[city]', 'attr': {'class': 'form-control'} }) }}#}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputPhone" class="col-sm-3 control-label">Phone Number: <span>*</span></label>
                                                    <div class="col-sm-9">
                                                        {{ form_widget(form.phone, {'id': 'inputPhone', 'attr': {'class': 'form-control'} }) }}
                                                        {#<input type="text" class="form-control" id="inputPhone">#}
                                                    </div>
                                                </div>


                                            <!---------------------- Adress form ---------------->

                                        </div>
                                        <hr>
                                        <br/>
                                        <a class="btn icon-btn-right"
                                           href="#Review" data-toggle="tab"
                                           onclick="
                                           function changeLabel() {
                                               span = `<span class='numeral'>1</span><span class='icon icon-check'>&nbsp;</span>`;
                                               $('#address .numeral-box').html(span);
                                               $('#address').removeClass('active');
                                               $('#payment').addClass('active');
                                               $('html, body').animate({scrollTop : 250},1000);}
                                        changeLabel()">
                                            NEXT
                                            <span class="icon icon-chevron_right"></span>
                                        </a>
                                    </div>
                                    <div class="tab-pane checkout-tab-content" id="Review">
                                        <h2 class="title-checkout">PAYMENT</h2>
                                        <div class="checkout-box-01">
                                            <h6>Payment Information</h6>

                                            <div class="payment-list">
                                                <ul style="text-align: center;" id="payements-list">
                                                    <li>
                                                        <label class="radio">
                                                            <input id="radio1" type="radio" name="radios" value="paypal">
                                                            <span class="outer"><span class="inner"></span></span>
                                                            <span class="fa fa-cc-paypal fa-4x"></span>

                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="radio">
                                                            <input id="radio2" type="radio" name="radios" value="discover">
                                                            <span class="outer"><span class="inner"></span></span>
                                                            <span class="fa fa-cc-discover fa-4x"></span>

                                                        </label>
                                                    </li>
                                                    <li>

                                                        <label class="radio">
                                                            <input id="radio3" type="radio" name="radios" value="jcb">
                                                            <span class="outer"><span class="inner"></span></span>
                                                            <span class="fa fa-cc-jcb  fa-4x"></span>

                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="radio">
                                                            <input id="radio4" type="radio" name="radios" value="amex">
                                                            <span class="outer"><span class="inner"></span></span>
                                                            <span class="fa fa-cc-amex  fa-4x"></span>

                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="radio">
                                                            <input id="radio5" type="radio" name="radios" value="mastercard">
                                                            <span class="outer"><span class="inner"></span></span>
                                                            <span class="fa fa-cc-mastercard  fa-4x"></span>

                                                        </label>

                                                    </li>
                                                    <li>
                                                        <label class="radio">
                                                            <input id="radio6" type="radio" name="radios" value="visa">
                                                            <span class="outer"><span class="inner"></span></span>
                                                            <span class="fa fa-cc-visa  fa-4x"></span>

                                                        </label>
                                                    </li>
                                                </ul>


                                                {#<hr>
                                                <br>
                                                <div id="paypal-button"></div>
                                                <script>
                                                    var CREATE_PAYMENT_URL  = '{{ path('checkout_index',{'cart': cart.cartId}) }}';
                                                    var EXECUTE_PAYMENT_URL = 'https://my-store.com/paypal/execute-payment';

                                                    paypal.Button.render({
                                                        env: 'production', // Or 'sandbox',

                                                        commit: true, // Show a 'Pay Now' button

                                                        style: {
                                                            color: 'gold',
                                                            size: 'small'
                                                        },

                                                        payment: function(data, actions) {
                                                            return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                                                                return data.id;
                                                            });
                                                        },

                                                        onAuthorize: function(data, actions) {
                                                            /*
                                                             * Execute the payment here
                                                             */
                                                        },

                                                        onCancel: function(data, actions) {
                                                            /*
                                                             * Buyer cancelled the payment
                                                             */
                                                        },

                                                        onError: function(err) {
                                                            /*
                                                             * An error occurred during the transaction
                                                             */
                                                        }
                                                    }, '#paypal-button');
                                                </script>#}

                                            </div>

                                            {#<div class="bt-drop-in-wrapper">#}
                                                {#<div id="bt-dropin" style="display: none">#}

                                                {#</div>#}
                                            {#</div>#}
                                            <div id="dropin" style="display: none;"></div>


                                            <input id="nonce" name="payment_method_nonce" type="hidden" />
                                            <input type="hidden" name="payement_type" id="payment_type" />
                                            <input type="hidden" name="us_total_order" id="us_total_order" />
                                            <input type="hidden" name="shippment_order" id="shippment_order" />
                                        </div>
                                        <hr>
                                        <a class="btn"
                                           href="#Shipping" data-toggle="tab"
                                           onclick="function changeLabelSecond() {
                                               $('#payment').removeClass('active');
                                               $('#address').addClass('active');
                                               $('html, body').animate({scrollTop : 500},1000);
                                           }
                                           changeLabelSecond()">

                                            <span class="icon icon-chevron_left"></span>
                                            Back
                                        </a>
                                        <button type="button" class="btn" id="submit-button">
                                            ORDER
                                        </button>
                                    </div>
                                </div>
                                {{ form_end(form) }}

                            </div>
                            <div class="col-md-4 checkout-box-aside ">
                                <div class="checkout-box">
                                    <div class="checkout-table-02">
                                        <table>
                                            <thead>
                                            <tr>
                                                <td colspan="2">Order Summary</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>SUBTOTAL:</td>
                                                <td>
                                                    {% for article in cart.articles %}
                                                        {% set totalProducts = total + article.price  %}
                                                        {% set total = totalProducts %}
                                                    {% endfor %}

                                                    {{ totalProducts|number_format(2, '.', ' ') }} KWD
                                                    <br>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>SHIPPING:</td>
                                                <td>
                                                    <div id="Shippment">
                                                        0.00 KWD
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>ORDER TOTAL:</td>
                                                <td>
                                                    <strong class="color-base">
                                                        <div id="total">
                                                            {{ totalProducts|number_format(2, '.', ' ') }} KWD
                                                        </div>
                                                    </strong>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="checkout-box">
                                    <h3>
                                        {% set nbArticles = cart.articles|length %}
                                        {{ nbArticles }}

                                             ITEM{% if nbArticles > 1 %}S{% endif %}

                                        IN CART
                                    </h3>
                                    <div class="checkout-box-03">
                                        {% for article in cart.articles %}
                                            <div class="item">
                                                <div class="img">
                                                    <a href="#"><img src="{{ asset('uploads/Articles/images/'~article.principalCover) }}" alt="{{ article.name }}"></a>
                                                </div>
                                                <div class="description">
                                                    <a href="#" class="title">{{ article.name }}</a>
                                                    <p>
                                                        {{ article.description }}
                                                    </p>
                                                    <div class="price"> {{ article.price|number_format(2, '.', ' ') }} KWD</div>
                                                    {#<p>#}
                                                        {#QTY:1#}
                                                    {#</p>#}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                {% else %}
                    No cart exist !
                {% endif %}

            {% endblock %}

            {% block promo %}
                {#{% include 'frontend/partials/layout_1/_promo.html.twig' %}#}
            {% endblock %}

            {% block collections %}
                {#{% include 'frontend/partials/layout_1/_collections.html.twig' %}#}
            {% endblock %}

            {% block features %}
                {#{% include 'frontend/partials/layout_1/_features.html.twig' %}#}
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'frontend/partials/layout_1/_footer.html.twig' %}
    {% endblock %}

    {% block modal %}
        {% include 'frontend/partials/layout_1/_modal.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        {% include 'frontend/partials/layout_1/_javascript.html.twig' %}
        <script src="https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.min.js"></script>
        {#<script>
            var form = $('#address-form');
            console.log('form : '+ form);
            var client_token = "{{ gateway.clientToken.generate }}";
            braintree.dropin.create({
                authorization: client_token,
                selector: '#bt-dropin',
            }, function (createErr, instance) {
                if (createErr) {
                    console.log('Create Error', createErr);
                    return;
                }
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    instance.requestPaymentMethod(function (err, payload) {
                        if (err) {
                            console.log('Request Payment Method Error', err);
                            return;
                        }
                        // Add the nonce to the form and submit
                        document.getElementById('nonce').value = payload.nonce;
                        form.submit();
                    });
                });
            });
        </script>#}
        <script>
            var button = document.querySelector('#submit-button');

            braintree.dropin.create({
                authorization: "{{ gateway.clientToken.generate }}",
                container: '#dropin'
            }, function (createErr, instance) {
                button.addEventListener('click', function () {
                    if(_choosedPayment === "paypal")
                    {
                        $('#address_form').submit();
                    }else
                    {
                        instance.requestPaymentMethod(function (err, payload) {
                            console.info('payload' + JSON.stringify(payload));
                            console.info('err' + JSON.stringify(err));
                            if (err) {
                                console.log('Request Payment Method Error', err);
                                return;
                            }
                            console.info(payload);
                            // Add the nonce to the form and submit
                            document.querySelector('#nonce').value = payload.nonce;
                            $('#address_form').submit();
                        });
                    }
                });
            });
        </script>
        <script>
            $('input[type=radio][name=radios]').change(function() {
                _choosedPayment = $(this).val();
                if (_choosedPayment === "jcb"
                    || _choosedPayment === "visa"
                    || _choosedPayment ==="mastercard"
                    || _choosedPayment === "amex"
                    || _choosedPayment === "discover"
                ){
                    $('#dropin').show();
                } else {
                    $('#dropin').hide();
                }
                $('#payment_type').attr('value', _choosedPayment);
            });
        </script>

        <script language="javascript">
            var _golfCountries = [
                "Saudi Arabia",
                "Kuwait",
                "Bahrain",
                "Qatar",
                "United Arab Emirates",
                "Oman"
            ];
            var _shippment = 0;
            var _total = {{ cart.total|number_format(2, '.','') }};
            var _usTotal ;
            populateCountries("address[country]", "address[city]"); // first parameter is id of country drop-down and second parameter is id of state drop-down
        </script>
        <script type="text/javascript">
            function convert(float) {
                subtotal  = 0;
                fx.base = "KWD";
                fx.settings = {
                    from : "KWD",
                    to : "USD"
                };
                fx.rates = {
                    "USD" : 3.32215, // eg. 1 USD === 0.745101 EUR
                    "KWD" : 1,        // always include the base rate (1:1)
                    /* etc */
                };
                x = fx.convert(float);
                subtotal = x.toFixed(2);

                return subtotal;
            }

        </script>
    {% endblock %}

{% endblock %}