<div class="container">
    <div class="row">
        <div class="carousel-brands">
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-01.png') }}" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-02.png') }}" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-03.png') }}" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-04.png') }}" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-05.png') }}" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-06.png') }}" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-07.png') }}" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-08.png') }}" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{{ asset('assets/frontend/images/custom/brand-09.png') }}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>