<div class="container">
    <h1 class="block-title">NEW PRODUCTS</h1>
    <div class="row product-listing carousel-products-mobile products-mobile-arrow">
        <!------------------------------- Article Promotion --------------------------------->
            {#<div class="col-xs-6 col-sm-4 col-md-3 ">
                <div class="product">
                    <div class="product_inside">
                        <div class="image-box">
                            <a href="">
                                <img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt="">
                                <div class="label-sale left">Sale<br>10% Off</div>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                                <span>
                                                <span class="icon icon-visibility"></span>QUICK VIEW
                                                </span>
                            </a>
                            <div class="countdown_box">
                                <div class="countdown_inner">
                                    <div class="countdown"
                                         data-date="2017-12-08"
                                         data-year="Yrs"
                                         data-month="Mths"
                                         data-week="Wk"
                                         data-day="Day"
                                         data-hour="Hrs"
                                         data-minute="Min"
                                         data-second="Sec"></div>
                                </div>
                            </div>
                        </div>
                        <h2 class="title">
                            <a href="">Tiger Mist Check Yo-Self Shirt in Plaid Check </a>
                        </h2>
                        <div class="price">
                            <span class="new-price">$40</span>
                            <span class="old-price">$45</span>
                        </div>
                        <div class="description">
                            Silver, metallic-blue and metallic-lavender silk-blend jacquard, graphic pattern, pleated ruffle along collar, long sleeves with button-fastening cuffs, buckle-fastening silver skinny belt, large pleated rosettes at hips. Dry clean. Zip and hook fastening at back. 100% silk. Specialist clean
                        </div>
                        <div class="product_inside_hover">
                            <div class="product_inside_info">
                                <ul class="options-swatch options-swatch-color">
                                    <li>
                                        <a href="#">
                                                            <span class="swatch-img">
                                                                <img src="{{ asset('assets/frontend/images/custom/filter_color1.jpg') }}" alt="">
                                                            </span>
                                            <span class="swatch-label color-dark-grey"></span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                                            <span class="swatch-img">
                                                                <img src="{{ asset('assets/frontend/images/custom/filter_color2.jpg') }}" alt="">
                                                            </span>
                                            <span class="swatch-label color-pale-gold"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-white border-bg"></span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="tags-list">
                                    <li><a href="#">XS</a></li>
                                    <li class="active"><a href="#">S</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">L</a></li>
                                </ul>
                                <div class="rating">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star empty-star"></span>
                                </div>
                                <a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#modalAddToCartProduct">
                                    <span class="icon icon-shopping_basket"></span>ADD TO CART
                                </a>
                                <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
                                                    <span>
                                                    <span class="icon icon-visibility"></span>QUICK VIEW
                                                    </span>
                                </a>
                                <ul class="product_inside_info_link">
                                    <li class="text-right">
                                        <a href="#" class="wishlist-link">
                                            <span class="fa fa-heart-o"></span>
                                            <span class="text">Add to wishlist</span>
                                        </a>
                                    </li>
                                    <li class="text-left">
                                        <a href="#" class="compare-link">
                                            <span class="fa fa-balance-scale"></span>
                                            <span class="text">Add to compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                            <span class="icon icon-visibility"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        <!--------------------------------------------------------------------------------------->
        <!------------------------------------- New Article ------------------------------------->
            {% for newArticle in newArticles %}
                <div class="col-xs-6 col-sm-4 col-md-3 ">
                <div class="product">
                    <div class="product_inside">
                        <div class="image-box">
                            <a href="">
                                <img src="{{ asset('uploads/Articles/images/'~newArticle.principalCover) }}" alt="{{ newArticle.name }}">

                                {% if date(newArticle.createdAt) < date('-7days')  %}<div class="label-new">New</div>{% endif %}
                            </a>
                            <a href="#" data-toggle="modal" data-target="#ModalquickView-{{ newArticle.articleId }}" class="quick-view">
                                <span>
                                    <span class="icon icon-visibility"></span>QUICK VIEW
                                </span>
                            </a>
                        </div>
                        <h2 class="title">
                            <a href="">{{ newArticle.name }}</a>
                        </h2>
                        <div class="price view">
                            {{ newArticle.price }}
                        </div>
                        <div class="description">
                            {{ newArticle.description }}
                        </div>
                        <div class="product_inside_hover">
                            <div class="product_inside_info">
                                {#<ul class="options-swatch options-swatch-color">
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-dark-grey"></span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <span class="swatch-label color-pale-gold"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-white border-bg"></span>
                                        </a>
                                    </li>
                                </ul>#}
                                {#<div class="rating">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star empty-star"></span>
                                </div>#}
                                <a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#modalAddToCartProduct">
                                    <span class="icon icon-shopping_basket"></span>ADD TO CART
                                </a>
                                <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
                                    <span>
                                        <span class="icon icon-visibility"></span>QUICK VIEW
                                    </span>
                                </a>
                                <ul class="product_inside_info_link">
                                    {#<li class="text-right">
                                        <a href="#" class="wishlist-link">
                                            <span class="fa fa-heart-o"></span>
                                            <span class="text">Add to wishlist</span>
                                        </a>
                                    </li>
                                    <li class="text-left">
                                        <a href="#" class="compare-link">
                                            <span class="fa fa-balance-scale"></span>
                                            <span class="text">Add to compare</span>
                                        </a>
                                    </li>#}
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                            <span class="icon icon-visibility"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        <!--------------------------------------------------------------------------------------->
        <!---------------------------------------Article-------------------------------------->
            {#<div class="col-xs-6 col-sm-4 col-md-3 ">
                <div class="product">
                    <div class="product_inside">
                        <div class="image-box">
                            <a href="">
                                <img src="{{ asset('assets/frontend/images/product/product-03.jpg') }}" alt="">
                            </a>
                            <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                                <span>
                                                <span class="icon icon-visibility"></span>QUICK VIEW
                                                </span>
                            </a>
                        </div>
                        <h2 class="title">
                            <a href="">Calvin Klein Jeans Mid Rise Skinny Jeans</a>
                        </h2>
                        <div class="price view">
                            $45
                        </div>
                        <div class="description">
                            Silver, metallic-blue and metallic-lavender silk-blend jacquard, graphic pattern, pleated ruffle along collar, long sleeves with button-fastening cuffs, buckle-fastening silver skinny belt, large pleated rosettes at hips. Dry clean. Zip and hook fastening at back. 100% silk. Specialist clean
                        </div>
                        <div class="product_inside_hover">
                            <div class="product_inside_info">
                                <ul class="options-swatch options-swatch-color">
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-dark-grey"></span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <span class="swatch-label color-pale-gold"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-white border-bg"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="rating">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star empty-star"></span>
                                </div>
                                <a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#modalAddToCartProduct">
                                    <span class="icon icon-shopping_basket"></span>ADD TO CART
                                </a>
                                <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
                                                    <span>
                                                    <span class="icon icon-visibility"></span>QUICK VIEW
                                                    </span>
                                </a>
                                <ul class="product_inside_info_link">
                                    <li class="text-right">
                                        <a href="#" class="wishlist-link">
                                            <span class="fa fa-heart-o"></span>
                                            <span class="text">Add to wishlist</span>
                                        </a>
                                    </li>
                                    <li class="text-left">
                                        <a href="#" class="compare-link">
                                            <span class="fa fa-balance-scale"></span>
                                            <span class="text">Add to compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                            <span class="icon icon-visibility"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        <!--------------------------------------------------------------------------------------->
        <!----------------------------------------Article No Image-------------------------------------------->
            {#<div class="col-xs-6 col-sm-4 col-md-3 ">
                <div class="product not-item">
                    <div class="product_inside">
                        <div class="image-box">
                            <a href="">
                                <img src="{{ asset('assets/frontend/images/product/product-06.jpg') }}" alt="">
                                <div class="not-item">
                                    <div>Not<br>item</div>
                                </div>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                                <span>
                                                <span class="icon icon-visibility"></span>QUICK VIEW
                                                </span>
                            </a>
                        </div>
                        <h2 class="title">
                            <a href="">Adidas Originals Court Vantage Super Colour Scarlet Trainers</a>
                        </h2>
                        <div class="price view">
                            $45
                        </div>
                        <div class="description">
                            Silver, metallic-blue and metallic-lavender silk-blend jacquard, graphic pattern, pleated ruffle along collar, long sleeves with button-fastening cuffs, buckle-fastening silver skinny belt, large pleated rosettes at hips. Dry clean. Zip and hook fastening at back. 100% silk. Specialist clean
                        </div>
                        <div class="product_inside_hover">
                            <div class="product_inside_info">
                                <ul class="options-swatch options-swatch-color">
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-dark-grey"></span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <span class="swatch-label color-pale-gold"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-white border-bg"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="rating">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star empty-star"></span>
                                </div>
                                <a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#modalAddToCartProduct">
                                    <span class="icon icon-shopping_basket"></span>ADD TO CART
                                </a>
                                <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
                                                    <span>
                                                    <span class="icon icon-visibility"></span>QUICK VIEW
                                                    </span>
                                </a>
                                <ul class="product_inside_info_link">
                                    <li class="text-right">
                                        <a href="#" class="wishlist-link">
                                            <span class="fa fa-heart-o"></span>
                                            <span class="text">Add to wishlist</span>
                                        </a>
                                    </li>
                                    <li class="text-left">
                                        <a href="#" class="compare-link">
                                            <span class="fa fa-balance-scale"></span>
                                            <span class="text">Add to compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                            <span class="icon icon-visibility"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        <!--------------------------------------------------------------------------------------->
        <!---------------------------------------Article New and Promotion----------------------------------------------->
            {#<div class="col-xs-6 col-sm-4 col-md-3 ">
                <div class="product">
                    <div class="product_inside">
                        <div class="image-box">
                            <a href="">
                                <img src="{{ asset('assets/frontend/images/product/product-08.jpg') }}" alt="">
                                <div class="label-sale">Sale<br>10% Off</div>
                                <div class="label-new">New</div>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                                <span>
                                                <span class="icon icon-visibility"></span>QUICK VIEW
                                                </span>
                            </a>
                        </div>
                        <h2 class="title">
                            <a href="">Herschel Supply Co Novel Holdall in Spot Print</a>
                        </h2>
                        <div class="price view">
                            $25
                        </div>
                        <div class="description">
                            Silver, metallic-blue and metallic-lavender silk-blend jacquard, graphic pattern, pleated ruffle along collar, long sleeves with button-fastening cuffs, buckle-fastening silver skinny belt, large pleated rosettes at hips. Dry clean. Zip and hook fastening at back. 100% silk. Specialist clean
                        </div>
                        <div class="product_inside_hover">
                            <div class="product_inside_info">
                                <ul class="options-swatch options-swatch-color">
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-dark-grey"></span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <span class="swatch-label color-pale-gold"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="swatch-label color-white border-bg"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="rating">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star empty-star"></span>
                                </div>
                                <a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#modalAddToCartProduct">
                                    <span class="icon icon-shopping_basket"></span>ADD TO CART
                                </a>
                                <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
                                                    <span>
                                                    <span class="icon icon-visibility"></span>QUICK VIEW
                                                    </span>
                                </a>
                                <ul class="product_inside_info_link">
                                    <li class="text-right">
                                        <a href="#" class="wishlist-link">
                                            <span class="fa fa-heart-o"></span>
                                            <span class="text">Add to wishlist</span>
                                        </a>
                                    </li>
                                    <li class="text-left">
                                        <a href="#" class="compare-link">
                                            <span class="fa fa-balance-scale"></span>
                                            <span class="text">Add to compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                            <span class="icon icon-visibility"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        <!--------------------------------------------------------------------------------------->
    </div>
</div>