<div class="container">
    <h1 class="block-title">NEW PRODUCTS</h1>
    <div class="row product-listing carousel-products-mobile products-mobile-arrow">
        <!------------------------------------- New Article ------------------------------------->
            {% for newArticle in newArticles %}
                <div class="col-xs-6 col-sm-4 col-md-3 " style="display: inline-block">
                    <div class="product">
                        <div class="product_inside">
                            <div class="image-box">
                            {#{{ newArticle.createdAt|date('d-m-Y') }}{{ date('-7days')|date('d-m-Y') }}#}
                            <a href="{{ path('article_index', {'id': newArticle.articleId}) }}">
                                <img src="{{ asset('uploads/Articles/images/'~newArticle.principalCover) }}" alt="{{ newArticle.name }}" style="min-height: 400px;">

                                {% if (newArticle.createdAt|date('Y') == date('now')|date_modify('-7days')|date('Y')
                                and newArticle.createdAt|date('m') > date('now')|date_modify('-7days')|date('m'))
                                or (newArticle.createdAt|date('Y') == date('now')|date_modify('-7days')|date('Y')
                                and newArticle.createdAt|date('m') == date('now')|date_modify('-7days')|date('m')
                                and newArticle.createdAt|date('d') > date('now')|date_modify('-7days')|date('d'))
                                %}
                                    <div class="label-new">New</div>
                                {% endif %}
                            </a>
                            <a href="#" data-toggle="modal" data-target="#ModalquickView-{{ newArticle.articleId }}" class="quick-view">
                                <span>
                                    <span class="icon icon-visibility"></span>QUICK VIEW
                                </span>
                            </a>
                        </div>
                            <h2 class="title">
                                <a href="">{{ newArticle.name }}</a>
                            </h2>
                            <div class="price view">
                                {{ newArticle.price|number_format(2, '.', ' ') }} KWD
                            </div>
                            <div class="description">
                                {{ newArticle.description }}
                            </div>
                            <div class="product_inside_hover">
                                <div class="product_inside_info">
                                    {% set cart = getUserCart() %}
                                    {% set inCart = false %}
                                    {% if cart %}
                                        {% for article in cart.articles %}
                                            {% if article == newArticle %}
                                                {% set inCart = true %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if inCart == false %}
                                        <a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#ModalAddToCartProduct-{{ newArticle.articleId }}">
                                            <span class="icon icon-shopping_basket"></span>ADD TO CART
                                        </a>
                                    {% endif %}

                                    <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
                                        <span>
                                            <span class="icon icon-visibility"></span>QUICK VIEW
                                        </span>
                                    </a>
                                    <ul class="product_inside_info_link">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#ModalquickView-{{ newArticle.articleId }}" class="quick-view">
                                                <span class="icon icon-visibility"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% for newArticle in newArticles %}
    <!-- Modal (quickViewModal) -->
    {% set cart = getUserCart() %}
    {% set inCart = false %}
    {% if cart %}
        {% for articleC in cart.articles %}
            {% if articleC == newArticle %}
                {% set inCart = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="modal  fade"  id="ModalquickView-{{ newArticle.articleId }}" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                </div>
                <form>
                    <div class="modal-body">
                        <!--modal-quick-view-->
                        <div class="modal-quick-view">
                            <div class="row">
                                <div class="col-sm-5 col-lg-6">
                                    <div class="product-main-image">
                                        <img src='{{ asset('uploads/Articles/images/'~newArticle.principalCover) }}' alt="{{ newArticle.name }}" />
                                    </div>
                                </div>
                                <div class="col-sm-7 col-lg-6">
                                    <div class="product-info">
                                        <div class="add-info">
                                            <div class="sku pull-left">
                                                {#<span class="font-weight-medium color-defaulttext2">SKU:</span> mtk012c#}
                                            </div>
                                            <div class="availability pull-left">
                                                <span class="font-weight-medium color-defaulttext2">Availability:</span>
                                                {% if newArticle.isAvailable == '1' %}
                                                    <span class="text-success">In Stock</span>
                                                {% else %}
                                                    <span class="color-base">Out stock</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <h1 class="title">{{ newArticle.name }}</h1>
                                        <div class="price">
                                            {{ newArticle.price|number_format(2, '.', ',') }} KWD
                                        </div>
                                        <div class="description hidden-xs">
                                            <div class="text">
                                                {{ newArticle.description }}
                                            </div>
                                        </div>
                                        {#<div class="wrapper">
                                            <div class="title-options">Texture <span class="color-required">*</span></div>
                                            <ul class="options-swatch-texture">
                                                <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-01.jpg') }}" alt=""></a></li>
                                                <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-02.jpg') }}" alt=""></a></li>
                                                <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-03.jpg') }}" alt=""></a></li>
                                            </ul>
                                        </div>#}
                                        {#<div class="wrapper">
                                            <div class="title-options">Size <span class="color-required">*</span></div>
                                            <ul class="tags-list">
                                                <li><a href="#">XS</a></li>
                                                <li class="active"><a href="#">S</a></li>
                                                <li><a href="#">M</a></li>
                                                <li><a href="#">L</a></li>
                                            </ul>
                                        </div>#}
                                        <div class="wrapper">
                                            {#<div class="pull-left"><label class="qty-label">qty</label></div>
                                            <div class="pull-left">
                                                <div class="style-2 input-counter">
                                                    <span class="minus-btn"></span>
                                                    <input type="text" value="1" size="5"/>
                                                    <span class="plus-btn"></span>
                                                </div>
                                            </div>#}
                                            <div class="pull-left">
                                                {% if inCart == false %}
                                                    <a href="{{ path('add_article_to_cart', {'id': newArticle.articleId}) }}" class="btn btn-addtocart"><span class="icon icon-shopping_basket"></span>SHOP NOW!</a>
                                                {% else %}
                                                    <i>This article is already in your cart !</i>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="wrapper">
                                            <div class="pull-left">
                                                {#<ul class="product_inside_info_link">
                                                    <li class="text-right">
                                                        <a href="#">
                                                            <span class="fa fa-heart-o"></span>
                                                            <span class="text">ADD TO WISHLIST</span>
                                                        </a>
                                                    </li>
                                                    <li class="text-left">
                                                        <a href="#" class="compare-link">
                                                            <span class="fa fa-balance-scale"></span>
                                                            <span class="text">ADD TO COMPARE</span>
                                                        </a>
                                                    </li>
                                                </ul>#}
                                            </div>
                                        </div>
                                        <div class="wrapper">
                                            {#<ul class="social-icon-square">
                                                <li><a class="icon-01" href="#"></a></li>
                                                <li><a class="icon-02" href="#"></a></li>
                                                <li><a class="icon-03" href="#"></a></li>
                                                <li><a class="icon-04" href="#"></a></li>
                                                <li><a class="icon-05" href="#"></a></li>
                                            </ul>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/modal-quick-view-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / Modal (quickViewModal) -->

    <!-- modalAddToCartProduct -->
    <div class="modal  fade"  id="ModalAddToCartProduct-{{ newArticle.articleId }}" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                </div>
                <div class="modal-body">
                    <!--  -->
                    <div class="modal-add-cart-product desctope visible-md visible-lg">
                        <div class="row">
                            <div class="col-sm-6" style="position: relative;text-align: center;">
                                <div class="modal-messages" style="text-align: center">
                                    <span class="icon color-base icon-error" style="font-size: 34px;line-height: 34px;"></span>
                                    <p style="font-size: 20px;
                                        line-height: 26px;
                                        margin: 1px 8% 0;
                                        font-weight: 500;
                                        color: #333333;">
                                        Add {{ newArticle.name }} to your shopping cart
                                    </p>
                                </div>
                                <div class="modal-product" style="margin-top: 34px;">
                                    <div class="image-box" style="width: 202px;margin: 0 auto;">
                                        <img src="{{ asset('uploads/Articles/images/'~newArticle.principalCover) }}" alt="{{ newArticle.name }}" style="width: 100%;height: auto;">
                                    </div>
                                    <div class="title" style="color: #333333;
                                                                font-size: 14px;
                                                                line-height: 21px;
                                                                margin: 15px 8% 0;">
                                        {{ newArticle.name }}
                                    </div>
                                    <div class="description" style="color: #777;
                                                                    font-size: 12px;
                                                                    line-height: 21px;
                                                                    margin-top: 6px;">
                                        {{ newArticle.description }}
                                    </div>
                                    <div class="qty" style="color: #333333;
                                                            margin-top: 26px;
                                                            font-size: 14px;
                                                            font-weight: 500;">
                                        Qty: 1
                                    </div>
                                </div>
                                <div class="total" style="padding-bottom: 0;font-size: 20px;
                                                            color: #333333;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;">
                                    TOTAL: <span style="font-size: 24px;
                                                        color: #A58464;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                        {{ newArticle.price|number_format(2, '.', ',') }} KWD</span>
                                </div>
                            </div>
                            <div class="col-sm-6" style="position: relative;text-align: center;">

                                {% set cart = getUserCart() %}
                                {% if cart %}
                                    <div class="cart-item-total" style="color: #333333;font-size: 20px;text-align: center;">
                                        <a href="{{ path('cart_index') }}">
                                            <div class="cart-item-icon" style="display: flex;
                                                                            justify-content: center;
                                                                            align-items: center;
                                                                            font-weight: 500;
                                                                            color: #A58464;">
                                            <span class="icon icon-shopping_basket" style=" font-size: 34px;
                                                                                            line-height: 34px;
                                                                                            margin: 0 7px;"></span>
                                                View Cart
                                            </div>
                                        </a>
                                        <p style="  font-size: 20px;
                                                line-height: 26px;
                                                font-weight: 500;
                                                margin-top: 2px;">
                                            There are {{ cart.articles|length }} items<br> in your cart
                                        </p>
                                    </div>
                                    <div class="total-product" style="  font-size: 14px;
                                                                    font-weight: 500;
                                                                    color: #333333;
                                                                    margin-top: 24px;
                                                                    text-align: center;">
                                        Total products:
                                        <span style="color: #A58464;">
                                            {% set total = 0 %}
                                            {% set totalProducts = 0 %}
                                            {% for article  in cart.articles %}
                                                {% set totalProducts = total + article.price  %}
                                                {% set total = totalProducts %}
                                            {% endfor %}
                                            {{ totalProducts|number_format(2, '.', ',') }} KWD
                                        </span>
                                    </div>
                                    <div class="total" style="  font-size: 20px;
                                                            color: #333333;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;
                                                            padding-bottom: 23px;
                                                            text-align: center;">
                                        TOTAL:
                                        <span style="font-size: 24px;
                                                        color: #A58464;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                            {% set newTotal = totalProducts + newArticle.price %}
                                            {{ newTotal|number_format(2, '.', ',') }} KWD
                                        </span>
                                    </div>
                                {% else %}
                                    <div class="cart-item-total" style="color: #333333;font-size: 20px;text-align: center;">
                                        <a href="{{ path('cart_index') }}">
                                            <div class="cart-item-icon" style="display: flex;
                                                                            justify-content: center;
                                                                            align-items: center;
                                                                            font-weight: 500;
                                                                            color: #A58464;">
                                            <span class="icon icon-shopping_basket" style=" font-size: 34px;
                                                                                            line-height: 34px;
                                                                                            margin: 0 7px;"></span>
                                                View Cart
                                            </div>
                                        </a>
                                        <p style="  font-size: 20px;
                                                line-height: 26px;
                                                font-weight: 500;
                                                margin-top: 2px;">
                                            There are no item<br> in your cart
                                        </p>
                                    </div>
                                    <div class="total-product" style="  font-size: 14px;
                                                                    font-weight: 500;
                                                                    color: #333333;
                                                                    margin-top: 24px;
                                                                    text-align: center;">
                                        Total products: <span style="color: #A58464;">{{ newArticle.price|number_format(2, '.', ' ') }} KWD</span>
                                    </div>
                                    <div class="total" style="  font-size: 20px;
                                                            color: #333333;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;
                                                            padding-bottom: 23px;
                                                            text-align: center;">
                                        TOTAL: <span style="font-size: 24px;
                                                        color: #A58464;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                        {{ newArticle.price|number_format(2, '.', ' ') }} KWD</span>
                                    </div>
                                {% endif %}

                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ path('add_article_to_cart', {'id': newArticle.articleId}) }}" class="btn invert" style="margin-top: 10px;">ADD TO CART</a>
                                {% else %}
                                    <a href="{{ path('login')}}" class="btn invert" style="margin-top: 10px;">
                                        Login to add to cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-add-cart-product mobile visible-sm visible-xs" style="text-align: center;">
                        <div class="modal-messages" style=" text-align: center;
                                                            font-size: 14px;
                                                            line-height: 17px;">
                            <span class="icon color-base icon-error" style="font-size: 34px;line-height: 34px;"></span>
                            <p style="font-size: 14px;
                                    line-height: 17px;
                                    font-weight: 500;
                                    margin-top: 8px;
                                    color: #777;">
                                {{ newArticle.name }}
                            </p>
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('add_article_to_cart', {'id': newArticle.articleId}) }}" class="btn btn-underline" style="margin-top: 20px;
                                                                    color: #333333;
                                                                    background: none;
                                                                    text-decoration: none;
                                                                    line-height: 15px;
                                                                    padding: 5px 0 0 0;
                                                                    height: inherit;
                                                                    border-bottom: 2px solid #333333;">
                            ADD TO CART!</a>
                        {% else %}
                            <a href="{{ path('login')}}" class="btn btn-underline" style="margin-top: 20px;
                                                                    color: #333333;
                                                                    background: none;
                                                                    text-decoration: none;
                                                                    line-height: 15px;
                                                                    padding: 5px 0 0 0;
                                                                    height: inherit;
                                                                    border-bottom: 2px solid #333333;">
                                Login to add to cart</a>
                        {% endif %}
                    </div>
                    <!-- / -->
                </div>
            </div>
        </div>
    </div>
    <!-- /modalAddToCartProduct -->
{% endfor %}
