<header class="no-shadow">
    <!-- mobile-header -->
    <div class="mobile-header">
        <div class="container-fluid">
            <div class="pull-left">
                <!-- language -->
                <div class="mobile-parent-language"></div>
                <!-- /language -->
                <!-- currency -->
                <div class="mobile-parent-currency"></div>
                <!-- /currency -->
                <div class="mini-menu-dropdown dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon icon-more_horiz"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="mini-menu">
                            <ul>
                                <li {% if app.request.attributes.get('_route') == 'FAQ' %}class="active"{% endif %}>
                                    <a href="{{ path('FAQ') }}">FAQs</a>
                                </li>
                                {#<li><a href="">Delivery</a></li>#}
                                {#<li><a href="">Blog</a></li>#}
                                {#<li><a href=""></a></li>#}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="font-size: 1em ;">
                <!-- account -->
                <div class="account dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <span class="icon icon-person"></span>
                        {% else %}
                            <i class="fa fa-user-plus fa-lg" aria-hidden="true" style="color: #000;bottom: 2px;position: relative;"></i>
                        {% endif %}
                    </a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="dropdown-label hidden-sm hidden-xs">My Account</div>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('account_index') }}"><span class="icon icon-person"></span>My Account</a></li>
                            {#<li><a href=""><span class="icon icon-favorite_border"></span>My Wishlist</a></li>#}
                            {#<li><a href=""><span class="fa fa-balance-scale"></span>Compare</a></li>#}
                            {#<li><a href=""><span class="icon icon-check"></span>Checkout</a></li>#}
                            {% if is_granted('ROLE_MANAGER') %}
                                <li><a href="{{ path('admin') }}" target="_blank"><span class="icon icon-settings"></span>Administration</a></li>
                            {% endif %}
                            <li><a href="{{ path('logout') }}" ><span class="icon icon-power_settings_new"></span>Log Out</a></li>
                        </ul>
                    {% else %}
                        <div class="dropdown-label hidden-sm hidden-xs">New Account</div>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#modalLoginForm"><span class="icon icon-lock_outline"></span>Log In</a></li>
                            <li><a href="{{ path('register') }}"><span class="icon icon-person_add"></span>Create an account</a></li>
                        </ul>
                    {% endif %}

                </div>
                <!-- /account -->
                <!-- cart -->
                <div class="mobile-parent-cart"></div>
                <!-- /cart -->
            </div>
        </div>
        <div class="container-fluid text-center">
            <!-- logo -->
            <div class="logo">
                <a href=""><img src="{{ asset('assets/frontend/images/logo-mobile.png') }}" alt=""/></a>
            </div>
            <!-- /logo -->

        </div>
        <div class="container-fluid top-line">
            <div class="pull-left">
                <div class="mobile-parent-menu">
                    <div class="mobile-menu-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                                        <span class="menu-text">
                                        MENU
                                        </span>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <!-- search -->
                <div class="search">
                    <a href="#" class="search-open"><span class="icon icon-search"></span></a>
                    <div class="search-dropdown">
                        <form action="{{ path('search_article') }}" method="get">
                            <div class="input-outer">
                                <input type="search" name="_search" value="" maxlength="128" placeholder="Enter keyword">
                                <button type="submit" class="btn-search"><span>Search</span></button>
                            </div>
                            <a href="#" class="search-close"><span class="icon icon-close"></span></a>
                        </form>
                    </div>
                </div>
                <!-- /search -->
            </div>
        </div>
    </div>
    <!-- /mobile-header -->

    <!-- desktop-header -->
    <div class="desktop-header  header-06">
        <div class="container">
            <div class="pull-left">
                <!-- mini-menu -->
                <div class="mini-menu">
                    <ul>
                        <li {% if app.request.attributes.get('_route') == 'FAQ' %}class="active"{% endif %}>
                            <a href="{{ path('FAQ') }}">FAQs</a>
                        </li>
                    </ul>
                </div>
                <!-- /mini-menu -->
            </div>
            <div class="pull-right text-right">
                <!-- box-info -->
                <div class="box-info">
                    <div class="telephone">
                        <span class="icon icon-call"></span> 00965-9755-5272
                    </div>
                    <div class="time">
                        7 Days a week from 10:00 am to 6:00 pm
                    </div>
                </div>
                <!-- /box-info -->
                <!-- language -->
                <div class="main-parent-language">
                    <div class="language dropdown select-change">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label hidden-sm hidden-xs">Language:</span>
                            <span class="title-value"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active" data-top-value="En"><a href="#">En</a></li>
                            {#<li data-top-value="Ge"><a href="#">Ge</a></li>#}
                        </ul>
                    </div>
                </div>
                <!-- /language -->
                <!-- currency -->
                <div class="main-parent-currency">
                    <div class="currency dropdown select-change">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label hidden-sm hidden-xs">Currency:</span>
                            <span class="title-value"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active" data-top-value="KWD"><a href="#">KWD - Kuwaiti dinar</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /currency -->
            </div>
        </div>
        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- social-icon -->
                        <div class="social-icon">
                            <ul>
                                <li><a class="icon fa fa-facebook" href="http://www.facebook.com/"></a></li>
                                <li><a class="icon fa fa-twitter" href="http://www.twitter.com/"></a></li>
                                <li><a class="icon fa fa-google-plus" href="http://www.google.com/"></a></li>
                                <li><a class="icon fa fa-instagram" href="https://instagram.com/"></a></li>
                            </ul>
                        </div>
                        <!-- /social-icon -->
                    </div>
                    <div class="col-md-4 text-center">
                        <!-- logo -->
                        <div class="logo">
                            <a href="{{ path('homepage') }}"><img src="{{ asset('assets/frontend/images/logo.png') }}" alt=""/></a>
                        </div>
                        <!-- /logo -->
                    </div>
                    <div class="col-md-4 text-right">
                        <!-- account -->
                        <div class="account dropdown" style="padding: 3.5% 0 0 0;">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <span class="icon icon-person "></span>
                                    <span class="dropdown-label hidden-sm hidden-xs" style="font-size: 18px; font-weight: 500;">My Account</span>
                                {% else %}
                                    <div style="margin-top: 4%">
                                        <i class="fa fa-user-plus fa-lg" aria-hidden="true" style="color: #303644;"></i>
                                        <span class="dropdown-label hidden-sm hidden-xs" style="font-size: 18px; font-weight: 500;">New Account</span>
                                    </div>

                                {% endif %}

                            </a>
                            <ul class="dropdown-menu">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="{{ path('account_index') }}"><span class="icon icon-person"></span>My Account</a></li>
                                    {#<li><a href=""><span class="icon icon-favorite_border"></span>My Wishlist</a></li>#}
                                    {#<li><a href=""><span class="fa fa-balance-scale"></span>Compare</a></li>#}
                                    {% set cart = getUserCart() %}
                                    {#<li><a href="{{ path('checkout_index', {'cart': cart.cartId }) }}"><span class="icon icon-check"></span>Checkout</a></li>#}
                                    {% if is_granted('ROLE_MANAGER') %}
                                        <li><a href="{{ path('admin') }}" target="_blank"><span class="icon icon-settings"></span>Administration</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('logout') }}" ><span class="icon icon-power_settings_new"></span>Log Out</a></li>


                                {% else %}
                                    <li><a href="#" data-toggle="modal" data-target="#modalLoginForm"><span class="icon icon-lock_outline"></span>Log In</a></li>
                                    <li><a href="{{ path('register') }}"><span class="icon icon-person_add"></span>Create an account</a></li>
                                {% endif %}

                            </ul>
                        </div>
                        <!-- /account -->
                        <!-- cart -->
                        <div class="main-parent-cart">
                            <div class="cart">
                                <div class="dropdown">
                                    <a class="dropdown-toggle">
                                        <span class="icon icon-shopping_basket"></span>
                                        <span class="badge badge-cart">
                                            {% set cart = getUserCart() %}
                                            {% if cart %}
                                                {{ cart.articles|length }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </span>
                                        <div class="dropdown-label hidden-sm hidden-xs">YOUR BAG</div>
                                    </a>
                                    <div class="dropdown-menu slide-from-top">
                                        <div class="container">
                                            {% set cart = getUserCart() %}
                                            {% if cart %}
                                                <div class="top-title">RECENTLY ADDED ITEM(S)</div>
                                                <a href="#" class="icon icon-close cart-close"></a>
                                                <ul>
                                                    {% set total = 0 %}
                                                    {% set totalProducts = 0 %}
                                                    {% for article in cart.articles %}
                                                        {% set totalProducts = total + article.price  %}
                                                        {% set total = totalProducts %}
                                                        <li class="item">
                                                            <div class="img">
                                                                <a href="#"><img src="{{ asset('uploads/Articles/images/'~article.principalCover) }}" alt="{{ article.name }}"/></a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title-col">
                                                                    <h2 class="title">
                                                                        <a href="#">{{ article.name }}</a>
                                                                    </h2>
                                                                    <div class="details">
                                                                        {{ article.description }}
                                                                    </div>
                                                                </div>
                                                                <div class="price">
                                                                    {{ article.price|number_format(2, '.', ',') }} KWD
                                                                </div>
                                                                <div class="qty">
                                                                    <div class="qty-label">Qty:</div>
                                                                    <div class="style-2 input-counter">
                                                                        <span class="minus-btn"></span>
                                                                        <input type="text" value="1" size="5"/>
                                                                        <span class="plus-btn"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-control">
                                                                <div class="delete"><a href="{{ path('remove_article_from_cart', {'id' : article.articleId}) }}" class="icon icon-delete" title="Delete"></a></div>
                                                                {#<div class="edit"><a href="#" class="icon icon-edit" title="Edit"></a></div>#}
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                <h4 class="empty-cart-js hide">Your Cart is Empty</h4>
                                                <div class="cart-bottom">
                                                    <div class="pull-right">
                                                        <div class="pull-left">
                                                            <div class="cart-total">TOTAL:
                                                                <span>
                                                                    {{ totalProducts|number_format(2, '.', ',') }} KWD
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <a href="{{ path('checkout_index', {'cart': cart.cartId}) }}" class="btn icon-btn-left"><span class="icon icon-check_circle"></span>CHECKOUT</a>
                                                    </div>
                                                    <div class="pull-left">
                                                        <a href="{{ path('cart_index') }}" class="btn icon-btn-left"><span class="icon icon-shopping_basket"></span>VIEW CART</a>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="top-title">YOUR CART IS EMPTY</div>
                                                <a href="#" class="icon icon-close cart-close"></a>
                                                <h4 class="empty-cart-js hide">Your Cart is Empty</h4>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /cart -->
                    </div>
                </div>
            </div>
        </div>
        <div class="top-line">
            <div class="container">
                <div class="pull-left">
                    <div class="menu-parent-box">
                        <!-- header-menu -->
                        <nav class="header-menu">
                            <ul>
                                <li class="dropdown {% if app.request.attributes.get('_route') == 'homepage' %}selected{% endif %}">
                                    <a href="{{ path('homepage') }}">Home</a>
                                </li>

                                {% set categories = getCategories() %}
                                {% if categories %}
                                    {% for category in categories %}
                                        <li
                                                class="dropdown
                                                {% if app.request.attributes.get('_route') == 'category_index'
                                                    and app.request.attributes.get('category') == category.name
                                                %}
                                                selected
                                                {% endif %}"
                                        >
                                            <a href="{{ path('category_index', {'category' : category.name }) }}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                {% else %}

                                {% endif %}

                                {% set collections = getCollections() %}
                                {% if collections %}
                                    {% for collection in collections %}
                                        <li class="dropdown
                                            {% if app.request.attributes.get('_route') == 'collection_index' %}selected{% endif %} megamenu">
                                            <a href="{{ path('collection_index', {'collectionId': collection.collectionId}) }}">{{ collection.name }}</a>
                                            <div class="dropdown-menu">
                                                <div class="row custom-layout-02">
                                                    <div class="col-sm-7">


                                                        {% set handledCategory = [] %}
                                                        {% for article in collection.articles if article not in handledCategory %}
                                                            {% for a in collection.articles if a.category.name == article.category.name and a not in handledCategory %}
                                                                {% set handledCategory = handledCategory|merge([a]) %}
                                                            {% endfor %}
                                                        {% endfor %}

                                                        {% set cc = [] %}
                                                        {% if collection.articles %}
                                                            <div class="row menu-list-col">
                                                                {% for category in categories %}
                                                                    {% for c in  handledCategory %}
                                                                        {% if category == c.category and category not in cc %}

                                                                            <div class="col-sm-4">
                                                                                <a href="{{ path('category_index',{'category': category.name}) }}" class="title-underline">
                                                                                    <span>{{ category.name }}</span>
                                                                                    <span class="megamenu_category-image hidden-xs">
                                                                                            <img class="img-responsive"
                                                                                                 src="{{ asset('uploads/Categories/images/'~category.cover) }}"
                                                                                                 alt="{{ category.name }}"/>
                                                                                        </span>
                                                                                </a>
                                                                                <ul class="megamenu-submenu">
                                                                                    {% for article in collection.articles if article.category.name == category.name %}
                                                                                        <li><a href="{{ path('article_index',{'id': article.articleId}) }}">{{ article.name }}</a></li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </div>
                                                                            {% set cc = cc|merge([category]) %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <a href="{{ path('collection_index',{'collectionId': collection.collectionId}) }}" class="promo-box zoom-in design-13">
                                                            <img src="{{ asset('uploads/Collections/images/'~ collection.cover) }}" alt="{{ collection.name }}">
                                                            <div class="description">
                                                                <div class="block-table">
                                                                    <div class="block-table-cell">
                                                                        <div class="title title-md">{{ collection.caption }}</div>
                                                                        <span class="btn ">SHOP NOW!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endif %}


                                <li class="dropdown {% if app.request.attributes.get('_route') == 'about_index' %}selected{% endif %}">
                                    <a href="{{ path('about_index') }}">Our Story</a>
                                </li>
                                <li class="dropdown {% if app.request.attributes.get('_route') == 'contact_index' %}selected{% endif %}">
                                    <a href="{{ path('contact_index') }}">Contact</a>
                                </li>


                            </ul>
                        </nav>
                        <!-- /header-menu -->
                    </div>
                </div>
                <div class="pull-right">
                    <!-- search -->
                    <div class="search">
                        <a href="#" class="search-open"><span class="icon icon-search"></span></a>
                        <div class="search-dropdown">
                            <form action="{{ path('search_article') }}" method="get">
                                <div class="input-outer">
                                    <input type="search" name="_search" value="" maxlength="128" placeholder="Enter keyword">
                                    <button type="submit" class="btn-search">SEARCH</button>
                                </div>
                                <a href="#" class="search-close"><span class="icon icon-close"></span></a>
                            </form>
                        </div>
                    </div>
                    <!-- /search -->
                </div>
            </div>
        </div>
    </div>
    <!-- /desktop-header -->

    <!-- stuck nav -->
    <div class="stuck-nav">
        <div class="container">
            <div class="pull-left">
                <div class="stuck-menu-parent-box"></div>
            </div>
            <div class="pull-right">
                <div class="stuck-cart-parent-box"></div>
            </div>
        </div>
    </div>
    <!-- /stuck nav -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for label, messages in app.flashes(['warning', 'error', 'success', 'info', 'notice','primary']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" id="messagesAlerte">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>


</header>
