<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12 hidden-xs">
            <div class="row">
                <div class="col-sm-4 col-md-12">
                    <div class="footer-logo">
                        <a href=""><img src="{{ asset('assets/frontend/images/logo-ar-en.png') }}" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-12">
                    <div class="social-icon-round">
                        <ul>
                            <li><a class="icon fa fa-facebook" href="http://www.facebook.com/"></a></li>
                            <li><a class="icon fa fa-twitter" href="http://www.twitter.com/"></a></li>
                            <li><a class="icon fa fa-google-plus" href="http://www.google.com/"></a></li>
                            <li><a class="icon fa fa-instagram" href="https://instagram.com/"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="mobile-collapse">
                <h4 class="mobile-collapse_title">Pages</h4>
                <div class="mobile-collapse_content">
                    <div class="v-links-list">
                        <ul>
                            <li><a href="{{ path('about_index') }}">About Us</a></li>
                            <li><a href="{{ path('contact_index') }}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="mobile-collapse">
                <h4 class="mobile-collapse_title">INFORMATION</h4>
                <div class="mobile-collapse_content">
                    <div class="v-links-list">
                        <ul>
                            <li><a href="https://www.instagram.com/khmissadesign/" target="_blank">Khmissa Design</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix divider visible-sm"></div>
        <div class="col-sm-6 col-md-2">
            <div class="mobile-collapse">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <h4 class="mobile-collapse_title">MY ACCOUNT</h4>
                    <div class="mobile-collapse_content">
                        <div class="v-links-list ">
                            <ul>
                                <li><a href="{{ path('account_index') }}">My Account</a></li>
                                {#<li><a href="{{ path('checkout_index') }}">Checkout</a></li>#}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('admin') }}" target="_blank">Administration</a></li>
                                {% endif %}
                                <li><a href="{{ path('logout') }}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <h4 class="mobile-collapse_title">NEW ACCOUNT</h4>
                    <div class="mobile-collapse_content">
                        <div class="v-links-list ">
                            <ul>
                                <li><a href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a></li>
                                <li><a href="{{ path('register') }}">Create Account</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="mobile-collapse">
                <h4 class="mobile-collapse_title">CONTACTS</h4>
                <div class="mobile-collapse_content">
                    <div class="list-info">
                        <ul>
                            <li>Address: 0000 Xx. Xxxxx Xxxxx, Kuweit</li>
                            <li>Phone: 00965 9968 7577</li>
                            {#<li>Fax: +0 0000 0000</li>#}
                            <li>Hours: 7 Days a week from 10 am to 06 pm</li>
                            <li>E-mail: <a href="mailto:info@darnawal.com">info@darnawal.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>