<nav class="panel-menu">
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        {% set categories = getCategories() %}
        {% if categories %}
            {% for category in categories %}
                <li><a href="{{ path('category_index',{'category': category.name}) }}">{{ category.name }}</a></li>
            {% endfor %}
        {% endif %}
        <li><a href="{{ path('about_index') }}">Our Story</a></li>
        <li><a href="{{ path('contact_index') }}">Contact</a></li>

        {% set collections = getCollections() %}
        {% if collections %}
            {% for collection in collections %}
                <li>
                    <a href="{{ path('collection_index', {'collectionId': collection.collectionId}) }}" class="bg-brown">{{ collection.name }} </a>
                    <ul>
                        {% set handledCategory = [] %}
                        {% for article in collection.articles if article not in handledCategory %}
                            {% for a in collection.articles if a.category.name == article.category.name and a not in handledCategory %}
                                {% set handledCategory = handledCategory|merge([a]) %}
                            {% endfor %}
                        {% endfor %}

                        {% set cc = [] %}
                        {% if collection.articles %}
                            {% for category in categories %}
                                {% for c in  handledCategory %}
                                    {% if category == c.category and category not in cc %}
                                        <li>
                                            <a href="{{ path('category_index', {'category': category.name}) }}" class="bg-grey-dark">{{ category.name }}</a>
                                            <ul>
                                                {% for article in collection.articles if article.category.name == category.name %}
                                                    <li><a href="{{ path('article_index', {'id': article.articleId}) }}">{{ article.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% set cc = cc|merge([category]) %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                </li>
            {% endfor %}
        {% endif %}

    </ul>
    <div class="mm-navbtn-names" style="display:none">
        <div class="mm-closebtn">CLOSE</div>
        <div class="mm-backbtn">BACK</div>
    </div>
</nav>
