<!-- Modal (quickViewModal) -->
<div class="modal  fade"  id="ModalquickView" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
            </div>
            <form>
                <div class="modal-body">
                    <!--modal-quick-view-->
                    <div class="modal-quick-view">
                        <div class="row">
                            <div class="col-sm-5 col-lg-6">
                                <div class="product-main-image">
                                    <img src='{{ asset('assets/frontend/images/product/product-big-1.jpg') }}' alt="" />
                                </div>
                            </div>
                            <div class="col-sm-7 col-lg-6">
                                <div class="product-info">
                                    <div class="add-info">
                                        <div class="sku pull-left">
                                            <span class="font-weight-medium color-defaulttext2">SKU:</span> mtk012c
                                        </div>
                                        <div class="availability pull-left">
                                            <span class="font-weight-medium color-defaulttext2">Availability:</span> <span class="color-red">In Stock</span> <span class="color-base">Out stock</span>
                                        </div>
                                    </div>
                                    <h1 class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</h1>
                                    <div class="price">
                                        $45
                                    </div>
                                    <div class="description hidden-xs">
                                        <div class="text">
                                            Silver, metallic-blue and metallic-lavender silk-blend jacquard, graphic pattern, pleated ruffle along collar, long sleeves with button-fastening cuffs, buckle-fastening silver skinny belt, large pleated rosettes at hips.
                                        </div>
                                    </div>
                                    <div class="wrapper">
                                        <div class="title-options">Texture <span class="color-required">*</span></div>
                                        <ul class="options-swatch-texture">
                                            <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-01.jpg') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-02.jpg') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-03.jpg') }}" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="wrapper">
                                        <div class="title-options">Size <span class="color-required">*</span></div>
                                        <ul class="tags-list">
                                            <li><a href="#">XS</a></li>
                                            <li class="active"><a href="#">S</a></li>
                                            <li><a href="#">M</a></li>
                                            <li><a href="#">L</a></li>
                                        </ul>
                                    </div>
                                    <div class="wrapper">
                                        <div class="pull-left"><label class="qty-label">qty</label></div>
                                        <div class="pull-left">
                                            <div class="style-2 input-counter">
                                                <span class="minus-btn"></span>
                                                <input type="text" value="1" size="5"/>
                                                <span class="plus-btn"></span>
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-addtocart"><span class="icon icon-shopping_basket"></span>SHOP NOW!</a>
                                        </div>
                                    </div>
                                    <div class="wrapper">
                                        <div class="pull-left">
                                            <ul class="product_inside_info_link">
                                                <li class="text-right">
                                                    <a href="#">
                                                        <span class="fa fa-heart-o"></span>
                                                        <span class="text">ADD TO WISHLIST</span>
                                                    </a>
                                                </li>
                                                <li class="text-left">
                                                    <a href="#" class="compare-link">
                                                        <span class="fa fa-balance-scale"></span>
                                                        <span class="text">ADD TO COMPARE</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wrapper">
                                        <ul class="social-icon-square">
                                            <li><a class="icon-01" href="#"></a></li>
                                            <li><a class="icon-02" href="#"></a></li>
                                            <li><a class="icon-03" href="#"></a></li>
                                            <li><a class="icon-04" href="#"></a></li>
                                            <li><a class="icon-05" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/modal-quick-view-->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- / Modal (quickViewModal) -->
<!-- Modal (newsletter) -->
<div class="modal  fade"  id="Modalnewsletter" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true"  data-pause=2000>
    <div class="modal-dialog modal-md-middle">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                <h4 class="modal-title text-center text-uppercase">GET THE LATEST NEWS<br>DELIVERED DAILY!</h4>
            </div>
            <form>
                <div class="modal-body">
                    <!--modal-add-cart-->
                    <div class="modal-newsletter">
                        <p>
                            Give us your email and you will be daily updated with <br>the latest events, in detail!
                        </p>
                        <div  class="subscribe-form">
                            <div class="row-subscibe">
                                <div class="col-left">
                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <span class="icon icon-email"></span>
                                                        </span>
                                        <input type="text" class="form-control" placeholder="Enter please your e-mail">
                                    </div>
                                </div>
                                <div class="col-right">
                                    <button type="submit" class="btn btn-fill">SUBSCRIBE</button>
                                </div>
                            </div>
                            <div class="checkbox-group form-group-top clearfix">
                                <input type="checkbox" id="checkBox1">
                                <label for="checkBox1">
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Don’t show this popup again
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--/modal-add-cart-->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- / Modal (newsletter) -->
<!-- modalLoginForm-->
<div class="modal  fade"  id="modalLoginForm" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md-small">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                <h4 class="modal-title text-center text-uppercase">Login form</h4>
            </div>
            <form action="{{ path('login') }}" method="post">
                <div class="modal-body">
                    <!--modal-add-login-->
                    <div class="modal-login">
                        <div class="form-group">
                            <div class="input-group">
                                            <span class="input-group-addon">
                                            <span class="icon icon-person_outline"></span>
                                            </span>
                                <input type="text" id="username" name="_username" class="form-control" placeholder="Username or email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                            <span class="input-group-addon">
                                            <span class="icon icon-lock_outline"></span>
                                            </span>
                                <input type="password" id="password" name="_password" class="form-control" placeholder="Password:">
                            </div>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="remember_me" name="_remember_me">
                            <label for="remember_me">
                                <span class="check"></span>
                                <span class="box"></span>
                                Remember me
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        <input type="hidden" name="_target_path" value="/" />
                        <button type="submit" class="btn btn-full">SIGN IN</button>
                        <a href="{{ path('register') }}" class="btn btn-full">CREATE AN ACCOUNT</a>
                        <div class="text-center"></div>
                        {#<div class="social-icon-fill">#}
                            {#<div>Or sign in with social</div>#}
                            {#<ul>#}
                                {#<li><a class="icon bg-facebook fa fa-facebook" href="http://www.facebook.com/"></a></li>#}
                                {#<li><a class="bg-twitter fa fa-twitter" href="http://www.twitter.com/"></a></li>#}
                                {#<li><a class="bg-google-plus fa fa-google-plus" href="http://www.google.com/"></a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        <ul class="link-functional">
                            {#<li><a href="#">Forgot your username?</a></li>#}
                            <li><a href="#">Forgot your password?</a></li>
                        </ul>
                    </div>
                    <!--/modal-add-login-->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /modalLoginForm-->
<!-- modalAddToCart -->
<div class="modal  fade"  id="modalAddToCart" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
            </div>
            <div class="modal-body">
                <!--  -->
                <div class="modal-add-cart">
                    <span class="icon color-base icon-check_circle"></span>
                    <p>
                        Added to cart successfully!
                    </p>
                    <a class="btn btn-underline color-defaulttext2" href="#">GO TO CART</a>
                </div>
                <!-- / -->
            </div>
        </div>
    </div>
</div>
<!-- /modalAddToCart -->
<!-- modalAddToCartProduct -->
<div class="modal  fade"  id="modalAddToCartProduct" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
            </div>
            <div class="modal-body">
                <!--  -->
                <div class="modal-add-cart-product desctope">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="modal-messages">
                                <span class="icon color-base icon-check_circle"></span>
                                <p>
                                    Product successfully added to your shopping cart
                                </p>
                            </div>
                            <div class="modal-product">
                                <div class="image-box">
                                    <img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt="">
                                </div>
                                <div class="title">
                                    Daisy Street 3/4 Sleeve Panelled Casual Shirt
                                </div>
                                <div class="description">
                                    Black,  Xl
                                </div>
                                <div class="qty">
                                    Qty: 1
                                </div>
                            </div>
                            <div class="total">
                                TOTAL: <span>$135</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="cart-item-total">
                                <a href="">
                                    <div class="cart-item-icon">
                                        <span class="icon icon-shopping_basket"></span>View Cart
                                    </div>
                                </a>
                                <p>
                                    There are 3 items<br> in your cart
                                </p>
                            </div>
                            <div class="total-product">
                                Total products: <span>$245</span>
                            </div>
                            <div class="total">
                                TOTAL: <span>$135</span>
                            </div>
                            <a href="#" class="btn invert">CONTINUE SHOPPING</a>
                            <a href="#" class="btn">PROCEED TO CHECKOUT</a>
                        </div>
                    </div>
                </div>
                <div class="modal-add-cart-product mobile">
                    <div class="modal-messages">
                        <span class="icon color-base icon-check_circle"></span>
                        <p>
                            Added to cart successfully!
                        </p>
                    </div>
                    <a href="#" class="btn btn-underline">GO TO CART!</a>
                </div>
                <!-- / -->
            </div>
        </div>
    </div>
</div>
<!-- /modalAddToCartProduct -->
<!-- modalCompare -->
<div class="modal-compare">
    <div class="container">
        <a href="#" class="icon icon-close button-close"></a>
        <div class="title-top">COMPARE</div>
        <div class="row-content">
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
        </div>
        <div class="row-button">
            <a href="#" class="clear-all btn btn-lg btn-underline"><span>CLEAR ALL</span></a>
            <a href="#" class="btn btn-inversion btn-compare"><span class="fa fa-balance-scale"></span>COMPARE</a>
        </div>
    </div>
</div>
<!-- /modalCompare -->
<!-- modalWishlist -->
<div class="modal-wishlist">
    <div class="container">
        <a href="#" class="icon icon-close button-close"></a>
        <div class="title-top">MY WISHLIST</div>
        <div class="row-content">
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="{{ asset('assets/frontend/images/product/product-01.jpg') }}" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
        </div>
        <div class="row-button">
            <a href="#" class="clear-all btn btn-lg btn-underline"><span>CLEAR ALL</span></a>
        </div>
    </div>
</div>
<!-- /modalWishlist -->