<div class="container offset-0">
    <div class="row custom-layout indent-col-none">
        {% if categories %}
            {% for category in categories %}
                {% set nbC = categories|length %}
                {% if category.categoryStyle == 'CoverWithCaption' %}
                    <div class="col-xs-6 col-sm-6 {% if nbC == 1 %}col-md-12{% elseif nbC == 2 %}col-md-6{% else %}col-md-4{% endif %}" style="min-height: 250px; padding: 2%;">
                        <a href="{{ path('category_index', {'category': category.name}) }}" class="promo-box zoom-in design-default">
                            <img src="{{ asset('uploads/Categories/images/'~category.cover) }}" alt="{{ category.name }}" class="img-responsive">
                            <div class="description">
                                <div class="block-table">
                                    <div class="block-table-cell">
                                        <div>
                                            {#<img class="img-responsive" src="{{ asset('assets/frontend/images/custom/promo-img-07-icon-01.png') }}" alt="">#}
                                        </div>
                                        <div class="title">{{ category.caption }}</div>
                                        <span class="btn btn-lg btn-red">SHOP NOW!</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="col-xs-6 col-sm-6 {% if nbC == 1 %}col-md-12{% elseif nbC == 2 %}col-md-6{% else %}col-md-4{% endif %}"  style="min-height: 250px; padding: 2%;">
                        <a href="{{ path('category_index', {'category': category.name}) }}" class="promo-box zoom-in design-default">
                            <img src="{{ asset('uploads/Categories/images/'~category.cover) }}" alt="{{ category.name }}" class="img-responsive">
                            <div class="description">
                                <div class="block-table">
                                    <div class="block-table-cell"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}

        {% endif %}
    </div>
</div>
