{% extends 'frontend/index.html.twig' %}

{% block head %}
    <title>{% block title %}{{ user.name }} Orders History{% endblock %} - Dar Nawal</title>
    <meta name="keywords" content="Dar, Nawal, Caftan, Couture, Moroccan, Kaftan">
    <meta name="description" content="Dar Nawal has the orders history page, you will find all information about your orders history.">
    {% block stylesheets %}
        {% include 'frontend/partials/layout_1/_stylesheets.html.twig' %}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block loader %}
        {% include 'frontend/partials/layout_1/_loader.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'frontend/partials/layout_1/_menu.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include 'frontend/partials/layout_1/_header.html.twig' %}
    {% endblock %}

    {% block breadcrumb %}
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li>Account</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <!-- Content -->
        <div id="pageContent">
            {% set totalProducts = 0  %}
            {% set total = 0 %}
            {% block slider %}
                <div class="container offset-18">
                    <div class="offset-36">
                        <h4>Order :  {{ order.orderCode }}</h4>
                        <div class="offset-30">
                            <div class="responsive-table-order-history-02">
                                <table class="table-order-history-02">
                                    <thead>
                                    <tr>
                                        <th>Article</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for article in order.cart.articles %}
                                        {% set totalProducts = total + article.price  %}
                                        {% set total = totalProducts %}
                                        <tr>
                                            <td>
                                                <div>
                                                    <h5>{{ article.name }}</h5>
                                                    <img src="{{ asset('uploads/articles/images/'~article.principalCover) }}"
                                                         class="img-responsive" style="width: 10%; float: right"
                                                         alt="{{ article.name }}">
                                                    <p>{{ article.description }}</p>
                                                </div>
                                            </td>
                                            <td>{{ article.price|number_format(2, '.', ' ') }} KWD</td>
                                            <td>1</td>
                                            <td>{{ article.price|number_format(2, '.', ' ') }} KWD</td>
                                        </tr>
                                    {% endfor %}



                                    <tr>
                                        <td colspan="3">Subtotal</td>
                                        <td> {{ totalProducts|number_format(2, '.', ' ') }} KWD</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">International Shipping</td>
                                        <td> 0.00 KWD</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><strong>Total</strong></td>
                                        <td><strong> {{ totalProducts|number_format(2, '.', ' ') }} KWD</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="offset-36">
                        <hr class="hr-offset-7">
                        <h4>Order Detail</h4>
                        <table class="table-order-history">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Payment Status</th>
                                <th>Delivery Status</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="th-title visible-xs">Date</div>
                                    {{ order.createdAt|date('jS F Y \\a\\t g:ia') }}
                                </td>
                                <td>
                                    <div class="th-title visible-xs">Payment Status</div>
                                    {% if order.isPaid %}
                                        <span class="fa fa-check-circle fa-2x" style="color: green"></span>
                                    {% else %}
                                        <span class="fa fa-close fa-2x" style="color: darkred"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="th-title visible-xs">Delivery Status</div>
                                    {% if order.isDelivered %}
                                        <span class="fa fa-check-circle fa-2x" style="color: green"></span>
                                    {% else %}
                                        <span class="fa fa-close fa-2x" style="color: darkred"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="th-title visible-xs">Total</div>
                                     {{ totalProducts|number_format(2, '.', ' ') }} KWD
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <h4>Account Details</h4>
                        <div class="row">
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                <div class="responsive-table">
                                    <table class="table table-params">
                                        <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td>{{ order.cart.user.name }} {{ order.cart.user.lastName }}</td>
                                        </tr>
                                        <tr>
                                            <td>E-mail:</td>
                                            <td>{{ order.cart.user.email }}</a></td>
                                        </tr>
                                        <tr>
                                            <td>Delivery Address:</td>
                                            <td>
                                                {{ order.address.adressText }}<br/>
                                                {{ order.address.zipCode }},
                                                {{ order.address.city }}<br/>
                                                {{ order.address.country }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td>
                                                {{ order.address.phone }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="{{ path('account_index') }}" class="btn">Back to Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block promo %}
                {#{% include 'frontend/partials/layout_1/_promo.html.twig' %}#}
            {% endblock %}

            {% block collections %}
                {#{% include 'frontend/partials/layout_1/_collections.html.twig' %}#}
            {% endblock %}

            {% block features %}
                {#{% include 'frontend/partials/layout_1/_features.html.twig' %}#}
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'frontend/partials/layout_1/_footer.html.twig' %}
    {% endblock %}

    {% block modal %}
        {% include 'frontend/partials/layout_1/_modal.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        {% include 'frontend/partials/layout_1/_javascript.html.twig' %}
    {% endblock %}

{% endblock %}