{% extends 'frontend/index.html.twig' %}

{% block head %}
    <title>{% block title %}{{ category.name }} Category has {{ category.getProducts|length }} article(s){% endblock %} - Dar Nawal</title>
    <meta name="keywords" content="Dar, Nawal, Caftan, Couture, Moroccan, Kaftan">
    <meta name="description"
          content="Dar Nawal has the category page, you will find all information about {{ category.name }} category,
          and also all the detail of articles of this category like : {{ category.name }} category has {{ category.getProducts|length }} article(s)"
    >
    {% block stylesheets %}
        {% include 'frontend/partials/layout_1/_stylesheets.html.twig' %}
    {% endblock %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/frontend/external/magnific-popup/magnific-popup.css') }}"/>
{% endblock %}

{% block body %}
    {% block loader %}
        {% include 'frontend/partials/layout_1/_loader.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'frontend/partials/layout_1/_menu.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include 'frontend/partials/layout_1/_header.html.twig' %}
    {% endblock %}

    {% block breadcrumb %}
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li>Category : {{ category.name }}</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <!-- Content -->
        <div id="pageContent">

            {% block slider %}
                <div class="container offset-0">
                    <div class="row">
                        <!-- left col -->
                        <!-- center col -->
                        {% if articles|length > 0 %}
                            <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="content offset-0">
                                <div class="number-of-products pull-right">{{ category.getProducts()|length }}Item(s)
                                </div>
                                <h1 class="block-title text-left">{{ category.name }}</h1>
                                <p>
                                    {{ category.caption }}
                                </p>
                            </div>
                            <div class="content">
                                <hr>
                            </div>
                            <div class="product-listing row">
                                <div class="pagerfanta">
                                    {% for article in articles %}
                                        {% if article.isPublished == 1 and article.isAvailable == 1 %}
                                            {% set cart = getUserCart() %}
                                            {% set inCart = false %}
                                            {% if cart %}
                                                {% for articleC in cart.articles %}
                                                    {% if articleC == article %}
                                                        {% set inCart = true %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-one-fourth element-item ">
                                                <div class="product">
                                                    <div class="product_inside">
                                                        <div class="image-box">
                                                            <a href="{{ path('article_index', {'id': article.articleId }) }}">
                                                                <img src="{{ asset('uploads/Articles/images/'~article.principalCover) }}"
                                                                     alt="{{ article.name }}"
                                                                     style="min-height: 400px;"
                                                                >
                                                                {#{{ article.createdAt|date('d/m/Y') }}#}
                                                                {#{{ date('now')|date_modify('- 1 month')|date('d/m/Y') }}#}

                                                                {% if article.createdAt|date('d/m/Y') <= date('now')|date_modify('- 1 month')|date('d/m/Y') %}
                                                                    <div class="label-new">New</div>
                                                                {% endif %}
                                                            </a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#ModalquickView-{{ article.articleId }}" class="quick-view">
											                    <span>
											                        <span class="icon icon-visibility"></span>QUICK VIEW
											                    </span>
                                                            </a>
                                                        </div>
                                                        <h2 class="title">
                                                            <a href="#">
                                                                {{ article.name }}
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            {{ article.price|number_format(2, '.', ' ') }} KWD
                                                        </div>
                                                        <div class="description">
                                                            {{ article.description }}
                                                        </div>
                                                        <div class="product_inside_hover">
                                                            <div class="product_inside_info">
                                                                {% if inCart == false %}
                                                                    <a class="btn btn-product_addtocart" href="#"
                                                                       data-toggle="modal"
                                                                       data-target="#ModalAddToCartProduct-{{ article.articleId }}">
                                                                        <span class="icon icon-shopping_basket"></span>ADD
                                                                        TO CART
                                                                    </a>
                                                                {% endif %}
                                                                <a href="#" class="quick-view btn" data-toggle="modal"
                                                                   data-target="#ModalquickView-{{ article.articleId }}">
                                                                    <span>
                                                                    <span class="icon icon-visibility"></span>QUICK VIEW
                                                                    </span>
                                                                </a>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal  fade" id="ModalquickView-{{ article.articleId }}"
                                                 tabindex="-1" role="dialog" aria-label="myModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content ">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true"><span
                                                                        class="icon icon-clear"></span></button>
                                                        </div>
                                                        <form>
                                                            <div class="modal-body">
                                                                <!--modal-quick-view-->
                                                                <div class="modal-quick-view">
                                                                    <div class="row">
                                                                        <div class="col-sm-5 col-lg-6">
                                                                            <div class="product-main-image">
                                                                                <img src='{{ asset('uploads/Articles/images/'~article.principalCover) }}'
                                                                                     alt="{{ article.name }}"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-7 col-lg-6">
                                                                            <div class="product-info">
                                                                                <div class="add-info">
                                                                                    <div class="sku pull-left">
                                                                                        {#<span class="font-weight-medium color-defaulttext2">SKU:</span> mtk012c#}
                                                                                    </div>
                                                                                    <div class="availability pull-left">
                                                                                        <span class="font-weight-medium color-defaulttext2">Availability:</span>
                                                                                        {% if article.isAvailable == '1' %}
                                                                                            <span class="text-success">In Stock</span>
                                                                                        {% else %}
                                                                                            <span class="color-base">Out stock</span>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <h1 class="title">{{ article.name }}</h1>
                                                                                <div class="price">
                                                                                     {{ article.price|number_format(2, '.', ' ') }} KWD
                                                                                </div>
                                                                                <div class="description hidden-xs">
                                                                                    <div class="text">
                                                                                        {{ article.description }}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="wrapper">
                                                                                    <div class="pull-left">
                                                                                        {% if inCart == false %}
                                                                                            <a href="{{ path('add_article_to_cart', {'id': article.articleId}) }}" class="btn btn-addtocart">
                                                                                                <span class="icon icon-shopping_basket"></span>
                                                                                                SHOPNOW!
                                                                                            </a>
                                                                                        {% else %}
                                                                                            <i>This article is already in your cart</i>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="wrapper">
                                                                                    <div class="pull-left">

                                                                                    </div>
                                                                                </div>
                                                                                <div class="wrapper">

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/modal-quick-view-->
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- modalAddToCartProduct -->
                                            <div class="modal  fade" id="ModalAddToCartProduct-{{ article.articleId }}"
                                                 tabindex="-1" role="dialog" aria-label="myModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-md">
                                                    <div class="modal-content ">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true"><span
                                                                        class="icon icon-clear"></span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!--  -->
                                                            <div class="modal-add-cart-product desctope visible-md visible-lg">
                                                                <div class="row">
                                                                    <div class="col-sm-6"
                                                                         style="position: relative;text-align: center;">
                                                                        <div class="modal-messages"
                                                                             style="text-align: center">
                                                                            <span class="icon color-base icon-error"
                                                                                  style="font-size: 34px;line-height: 34px;"></span>
                                                                            <p style="font-size: 20px;
                                        line-height: 26px;
                                        margin: 1px 8% 0;
                                        font-weight: 500;
                                        color: #333333;">
                                                                                Add {{ article.name }} to your shopping
                                                                                cart
                                                                            </p>
                                                                        </div>
                                                                        <div class="modal-product"
                                                                             style="margin-top: 34px;">
                                                                            <div class="image-box"
                                                                                 style="width: 202px;margin: 0 auto;">
                                                                                <img src="{{ asset('uploads/Articles/images/'~article.principalCover) }}"
                                                                                     alt="{{ article.name }}"
                                                                                     style="width: 100%;height: auto;">
                                                                            </div>
                                                                            <div class="title" style="color: #333333;
                                                                font-size: 14px;
                                                                line-height: 21px;
                                                                margin: 15px 8% 0;">
                                                                                {{ article.name }}
                                                                            </div>
                                                                            <div class="description" style="color: #777;
                                                                    font-size: 12px;
                                                                    line-height: 21px;
                                                                    margin-top: 6px;">
                                                                                {{ article.description }}
                                                                            </div>
                                                                            <div class="qty" style="color: #333333;
                                                            margin-top: 26px;
                                                            font-size: 14px;
                                                            font-weight: 500;">
                                                                                Qty: 1
                                                                            </div>
                                                                        </div>
                                                                        <div class="total" style="padding-bottom: 0;font-size: 20px;
                                                            color: #a58464;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;">
                                                                            TOTAL: <span style="font-size: 24px;
                                                        color: #a58464;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                         {{ article.price|number_format(2, '.', ' ') }} KWD</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6"
                                                                         style="position: relative;text-align: center;">

                                                                        {% set cart = getUserCart() %}
                                                                        {% if cart %}
                                                                            <div class="cart-item-total"
                                                                                 style="color: #a58464;font-size: 20px;text-align: center;">
                                                                                <a href="{{ path('cart_index') }}">
                                                                                    <div class="cart-item-icon" style="display: flex;
                                                                            justify-content: center;
                                                                            align-items: center;
                                                                            font-weight: 500;
                                                                            color: #a58464;">
                                            <span class="icon icon-shopping_basket" style=" font-size: 34px;
                                                                                            line-height: 34px;
                                                                                            margin: 0 7px;"></span>
                                                                                        View Cart
                                                                                    </div>
                                                                                </a>
                                                                                <p style="  font-size: 20px;
                                                line-height: 26px;
                                                font-weight: 500;
                                                margin-top: 2px;">
                                                                                    There are {{ cart.articles|length }}
                                                                                    items<br> in your cart
                                                                                </p>
                                                                            </div>
                                                                            <div class="total-product" style="  font-size: 14px;
                                                                    font-weight: 500;
                                                                    color: #333333;
                                                                    margin-top: 24px;
                                                                    text-align: center;">
                                                                                Total products:
                                                                                <span style="color: #a58464;">
                                            {% set total = 0 %}
                                                                                    {% set totalProducts = 0 %}
                                                                                    {% for article  in cart.articles %}
                                                                                        {% set totalProducts = total + article.price %}
                                                                                        {% set total = totalProducts %}
                                                                                    {% endfor %}
                                                                                     {{ totalProducts|number_format(2, '.', ' ') }} KWD
                                        </span>
                                                                            </div>
                                                                            <div class="total" style="  font-size: 20px;
                                                            color: #333333;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;
                                                            padding-bottom: 23px;
                                                            text-align: center;">
                                                                                TOTAL:
                                                                                <span style="font-size: 24px;
                                                        color: #a58464;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                            {% set newTotal = totalProducts + article.price %}
                                                                                     {{ newTotal|number_format(2, '.', ' ') }} KWD

                                        </span>
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="cart-item-total"
                                                                                 style="color: #333333;font-size: 20px;text-align: center;">
                                                                                <a href="{{ path('cart_index') }}">
                                                                                    <div class="cart-item-icon" style="display: flex;
                                                                            justify-content: center;
                                                                            align-items: center;
                                                                            font-weight: 500;
                                                                            color: #a58464;">
                                            <span class="icon icon-shopping_basket" style=" font-size: 34px;
                                                                                            line-height: 34px;
                                                                                            margin: 0 7px;"></span>
                                                                                        View Cart
                                                                                    </div>
                                                                                </a>
                                                                                <p style="  font-size: 20px;
                                                line-height: 26px;
                                                font-weight: 500;
                                                margin-top: 2px;">
                                                                                    There are no item<br> in your cart
                                                                                </p>
                                                                            </div>
                                                                            <div class="total-product" style="  font-size: 14px;
                                                                    font-weight: 500;
                                                                    color: #333333;
                                                                    margin-top: 24px;
                                                                    text-align: center;">
                                                                                Total products: <span
                                                                                        style="color: #a58464;"> {{ article.price|number_format(2, '.', ' ') }} KWD</span>
                                                                            </div>
                                                                            <div class="total" style="  font-size: 20px;
                                                            color: #333333;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;
                                                            padding-bottom: 23px;
                                                            text-align: center;">
                                                                                TOTAL: <span style="font-size: 24px;
                                                        color: #a58464;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                         {{ article.price|number_format(2, '.', ' ') }} KWD</span>
                                                                            </div>
                                                                        {% endif %}

                                                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}


                                                                            {% if inCart == false %}
                                                                                <a href="{{ path('add_article_to_cart', {'id': article.articleId}) }}"
                                                                                   class="btn invert"
                                                                                   style="margin-top: 10px;">ADD TO CART</a>
                                                                            {% endif %}
                                                                        {% else %}
                                                                            <a href="{{ path('login') }}"
                                                                               class="btn invert"
                                                                               style="margin-top: 10px;">
                                                                                Login to add to cart</a>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-add-cart-product mobile visible-sm visible-xs"
                                                                 style="text-align: center;">
                                                                <div class="modal-messages" style=" text-align: center;
                                                            font-size: 14px;
                                                            line-height: 17px;">
                                                                    <span class="icon color-base icon-error"
                                                                          style="font-size: 34px;line-height: 34px;"></span>
                                                                    <p style="font-size: 14px;
                                    line-height: 17px;
                                    font-weight: 500;
                                    margin-top: 8px;
                                    color: #777;">
                                                                        {{ article.name }}
                                                                    </p>
                                                                </div>
                                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                    <a href="{{ path('add_article_to_cart', {'id': article.articleId}) }}"
                                                                       class="btn btn-underline" style="margin-top: 20px;
                                                                    color: #333333;
                                                                    background: none;
                                                                    text-decoration: none;
                                                                    line-height: 15px;
                                                                    padding: 5px 0 0 0;
                                                                    height: inherit;
                                                                    border-bottom: 2px solid #333333;">
                                                                        ADD TO CART!</a>
                                                                {% else %}
                                                                    <a href="{{ path('login') }}"
                                                                       class="btn btn-underline" style="margin-top: 20px;
                                                                    color: #333333;
                                                                    background: none;
                                                                    text-decoration: none;
                                                                    line-height: 15px;
                                                                    padding: 5px 0 0 0;
                                                                    height: inherit;
                                                                    border-bottom: 2px solid #333333;">
                                                                        Login to add to cart</a>
                                                                {% endif %}
                                                            </div>
                                                            <!-- / -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /modalAddToCartProduct -->

                                        {% else %}
                                            <div class="container">
                                                <div class="row">
                                                    <div class="alert alert-warning">
                                                        There is no Article on this Category : {{ category.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="content">
                                <hr>
                            </div>
                            <div class="content offset-40">
                                {{ pagerfanta(articles, 'twitter_bootstrap_translated') }}
                            </div>
                        </div>
                        {% else %}
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="alert alert-info alert-dismissible" style="font-size: 18px;">

                                        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: static">&times;</a>
                                        There is no article on this category !
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                        {% endif %}
                    </div>
                </div>

            {% endblock %}

            {% block promo %}
                {#{% include 'frontend/partials/layout_1/_promo.html.twig' %}#}
            {% endblock %}

            {% block collections %}
                {#{% include 'frontend/partials/layout_1/_collections.html.twig' %}#}
            {% endblock %}

            {% block features %}
                {#{% include 'frontend/partials/layout_1/_features.html.twig' %}#}
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'frontend/partials/layout_1/_footer.html.twig' %}
    {% endblock %}

    {% block modal %}
        {% include 'frontend/partials/layout_1/_modal.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        <script src="{{ asset('assets/frontend/external/jquery/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/countdown/jquery.plugin.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/countdown/jquery.countdown.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/slick/slick.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/isotope/isotope.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/nouislider/nouislider.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/panelmenu/panelmenu.js') }}"></script>
        <div class="mm-fullscreen-bg"></div>
        <script src="{{ asset('assets/frontend/js/quick-view.js') }}"></script>
        <script src="{{ asset('assets/frontend/js/main.js') }}"></script>
        <script>

            $('.next a, .next span').empty().append('Next <i class="icon icon-chevron_right"></i>');
            $('.prev a, .prev span').empty().append('Previous <i class="icon icon-chevron_left"></i>');

        </script>
    {% endblock %}

{% endblock %}