{% extends 'frontend/index.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/frontend/external/magnific-popup/magnific-popup.css') }}"/>
{% endblock %}

{% block body %}
    {% block loader %}
        {% include 'frontend/partials/layout_1/_loader.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'frontend/partials/layout_1/_menu.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include 'frontend/partials/layout_1/_header.html.twig' %}
    {% endblock %}

    {% block breadcrumb %}
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li>Category : {{ category.name }}</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <!-- Content -->
        <div id="pageContent">

            {% block slider %}
                <div class="container offset-0">
                    <div class="row">
                        <!-- left col -->
                        {#<div class="slide-column-close slide-column-close-mobile">
                            <a href="#"><span class="icon icon-close"></span>CLOSE</a>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 aside leftColumn leftColumn-mobile">
                            <div class="collapse-block open collapse-block-mobile">
                                <h3 class="collapse-block_title hidden">Filter:</h3>
                                <div class="collapse-block_content">
                                    <div class="filters-mobile">

                                    </div>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">SHOPPING BY:</h3>
                                <div class="collapse-block_content">
                                    <ul class="filter-list">
                                        <li>
                                            <a href="#" class="link-close icon icon-close"></a>
                                            Color: <span class="color-base">White</span>
                                        </li>
                                        <li>
                                            <a href="#" class="link-close icon icon-close"></a>
                                            Size: <span class="color-base">S</span>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-underline color-defaulttext2">CLEAR ALL</a>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title">WOMEN’S</h3>
                                <div class="collapse-block_content">
                                    <ul class="list-simple">
                                        <li><a href="#">Blouses &amp; Shirts</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Tops &amp; T-shirts</a></li>
                                        <li><a href="#">Sleeveless Tops</a></li>
                                        <li><a href="#">Sweaters &amp; Cardigans</a></li>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Outerwear</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">PRICE</h3>
                                <div class="collapse-block_content">
                                    <div class="price-slider">
                                        <div class="priceSlider"></div>
                                    </div>
                                    <form>
                                        <div class="price-input form-group">
                                            <label>From</label>
                                            <input type="text" class="form-control" id="priceMin"/>
                                        </div>
                                        <div class="price-input form-group">
                                            <label>To</label>
                                            <input type="text" class="form-control" id="priceMax"/>
                                        </div>
                                        <div class="price-input">
                                            <button type="submit" class="btn">FILTER</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">SIZE</h3>
                                <div class="collapse-block_content">
                                    <ul class="tags-list">
                                        <li><a href="#">XS</a></li>
                                        <li class="active"><a href="#">S</a></li>
                                        <li><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">COLOR</h3>
                                <div class="collapse-block_content">
                                    <ul class="options-swatch-color">
                                        <li><a href="#"><span class="swatch-label color-black"></span></a></li>
                                        <li class="active"><a href="#"><span class="swatch-label color-grey"></span></a>
                                        </li>
                                        <li><a href="#"><span class="swatch-label color-light-grey"></span></a></li>
                                        <li><a href="#"><span class="swatch-label color-dark-turquoise "></span></a>
                                        </li>
                                        <li><a href="#"><span class="swatch-label color-orange"></span></a></li>
                                        <li><a href="#"><span class="swatch-label color-pale-violet-red"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">BRANDS</h3>
                                <div class="collapse-block_content">
                                    <ul class="list-simple">
                                        <li><a href="#">Levi’s</a></li>
                                        <li class="active"><a href="#">Gap</a></li>
                                        <li><a href="#">Zara</a></li>
                                        <li><a href="#">Polo</a></li>
                                        <li><a href="#">Ecco</a></li>
                                        <li><a href="#">H&amp;M</a></li>
                                        <li><a href="#">Diesel</a></li>
                                        <li><a href="#">Bockers</a></li>
                                        <li><a href="#">Lacoste</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">GENDER</h3>
                                <div class="collapse-block_content">
                                    <ul class="list-simple">
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Unisex</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">COMPARE PRODUCTS </h3>
                                <div class="collapse-block_content">
                                    <div class="compare-aside">
                                        <div class="item">
                                            <a href="#" class="link-close icon icon-close"></a>
                                            <div class="img pull-left">
                                                <a href="#"><img src="images/product/product-80x100-1.jpg" alt=""></a>
                                            </div>
                                            <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                                        </div>
                                        <div class="item">
                                            <a href="#" class="link-close icon icon-close"></a>
                                            <div class="img pull-left">
                                                <a href="#"><img src="images/product/product-80x100-2.jpg" alt=""></a>
                                            </div>
                                            <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                                        </div>
                                        <a href="#" class="btn offset-right-20">COMPARE</a><a href="#"
                                                                                              class="btn btn-underline color-defaulttext2">CLEAR
                                            ALL</a>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">COMMUNITY POLL</h3>
                                <div class="collapse-block_content">
                                    <div class="poll">
                                        <p class="color-defaulttext2">
                                            What is your favorite color?
                                        </p>
                                        <form class="pollForm" action="#">
                                            <ul class="poll-list">
                                                <li>
                                                    <label class="radio">
                                                        <input id="radio1" type="radio" name="radios" checked>
                                                        <span class="outer"><span
                                                                    class="inner"></span></span>Green</label>
                                                </li>
                                                <li>
                                                    <label class="radio">
                                                        <input id="radio2" type="radio" name="radios">
                                                        <span class="outer"><span
                                                                    class="inner"></span></span>Red</label>
                                                </li>
                                                <li>
                                                    <label class="radio">
                                                        <input id="radio3" type="radio" name="radios">
                                                        <span class="outer"><span
                                                                    class="inner"></span></span>Black</label>
                                                </li>
                                                <li>
                                                    <label class="radio">
                                                        <input id="radio4" type="radio" name="radios">
                                                        <span class="outer"><span
                                                                    class="inner"></span></span>Magenta</label>
                                                </li>
                                            </ul>
                                            <a href="#" class="btn">VOTE</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">TAGS</h3>
                                <div class="collapse-block_content">
                                    <ul class="tags-list">
                                        <li class="active"><a href="#">Vintage</a></li>
                                        <li><a href="#">Style</a></li>
                                        <li><a href="#">Street Style</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">FEATURED PRODUCTS</h3>
                                <div class="collapse-block_content">
                                    <div class="vertical-carousel arrow-style-2">
                                        <div class="aside-featured-product">
                                            <div class="product-img">
                                                <img src="images/custom/img_16.jpg" alt="">
                                            </div>
                                            <div class="product-content">
                                                <div class="title"><a href="#">Daisy Street 3/4 Sleeve Panelled Casual
                                                        Shirt</a></div>
                                                <div class="price">$45</div>
                                                <div class="rating">
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star empty-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="aside-featured-product">
                                            <div class="product-img">
                                                <img src="images/custom/img_17.jpg" alt="">
                                            </div>
                                            <div class="product-content">
                                                <div class="title"><a href="#">Daisy Street 3/4 Sleeve Panelled Casual
                                                        Shirt</a></div>
                                                <div class="price">
                                                    <span class="new-price">$45</span>
                                                    <span class="old-price">$48</span>
                                                </div>
                                                <div class="rating">
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star empty-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="aside-featured-product">
                                            <div class="product-img">
                                                <img src="images/custom/img_16.jpg" alt="">
                                            </div>
                                            <div class="product-content">
                                                <div class="title"><a href="#">Daisy Street 3/4 Sleeve Panelled Casual
                                                        Shirt</a></div>
                                                <div class="price">$45</div>
                                                <div class="rating">
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star"></span>
                                                    <span class="icon-star empty-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse-block open">
                                <h3 class="collapse-block_title ">CUSTOM BLOCK</h3>
                                <div class="collapse-block_content">
                                    <div class="aside-custom-block">
                                        <h6><a href="#"><span class="color-base icon icon-local_shipping"></span>
                                                Shipping and Delivery</a></h6>
                                        <p>
                                            We're dedicated to delivering your purchase as quickly and affordably as
                                            possible. We offer a range of delivery and pickup options, so you can choose
                                            the shipping method that best meets your needs.
                                        </p>
                                        <h6><a href="#"><span class="color-base icon icon-payment"></span> Payment
                                                Methods</a></h6>
                                        <p>
                                            Every country and shopper has their prefered method to pay online. Offering
                                            your buyers safe and convenient payment choices can help your sale go
                                            smoothly, earn you positive Feedback, and bring them back for more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>#}
                        <!-- center col -->
                        {% if articles|length > 0 %}
                            <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="content offset-0">
                                <div class="number-of-products pull-right">{{ category.getProducts()|length }}Item(s)
                                </div>
                                <h1 class="block-title text-left">{{ category.name }}</h1>
                                <p>
                                    {{ category.caption }}
                                </p>
                            </div>
                            <div class="content">
                                <hr>
                            </div>
                            {#<div class="content">
                                <div class="filters-row row">
#}{#
                                    <a class="btn slide-column-open extra-btn-filter hidden-sm hidden-xs" href="#"><span class="icon icon-filter_list"></span>FILTER</a>
#}{#
                                    <div class="pull-left">
                                        #}{#<div class="filters-row_select hidden-sm hidden-xs">
                                            <label>Sort by:</label>
                                            <select class="form-control sort-position">
                                                <option>Featured</option>
                                                <option>Price</option>
                                                <option>Rating</option>
                                            </select>
                                        </div>#}{#
                                        #}{#<a class="btn slide-column-open hidden-lg hidden-md" href="#">FILTER</a>
                                        <div class="filters-row_mode hidden-sm hidden-xs">
                                            <a class="link-view link-sort-top active" href="#"><span class="icon icon-sort "></span></a>
                                            <a class="link-view link-sort-bottom" href="#"><span class="icon icon-sort"></span></a>
                                        </div>#}{#
                                        #}{#<div class="filters-row_select  hidden-sm hidden-xs">
                                            <label>Show:</label>
                                            <select class="form-control show-qty">
                                                <option>25</option>
                                                <option>50</option>
                                                <option>100</option>
                                            </select>
                                            <a href="#" class="icon icon-arrow-down active"></a><a href="#" class="icon icon-arrow-up"></a>
                                        </div>#}{#
                                    </div>
                                    <div class="pull-right">

                                        #}{#<a class="link-mode link-grid-view active" href="#"><span class="icon icon-view_module"></span></a>#}{#
                                        #}{#<a class="link-mode link-row-view" href="#"><span class="icon icon-view_list"></span></a>#}{#
                                        #}{#<a class="link-view-mobile hidden-lg hidden-md" href="#"><span class="icon icon-view_stream"></span></a>#}{#
                                    </div>
                                </div>
                            </div>#}
                            <div class="product-listing row">
                                <div class="pagerfanta">
                                    {% for article in articles %}
                                        {% if article.isPublished == 1 and article.isAvailable == 1 %}
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-one-fourth element-item ">
                                                <div class="product">
                                                    <div class="product_inside">
                                                        <div class="image-box">
                                                            <a href="">
                                                                <img src="{{ asset('uploads/Articles/images/'~article.principalCover) }}"
                                                                     alt="{{ article.name }}">
                                                                {#{{ article.createdAt|date('d/m/Y') }}#}
                                                                {#{{ date('now')|date_modify('- 1 month')|date('d/m/Y') }}#}

                                                                {% if article.createdAt|date('d/m/Y') <= date('now')|date_modify('- 1 month')|date('d/m/Y') %}
                                                                    <div class="label-new">New</div>
                                                                {% endif %}
                                                            </a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#ModalquickView-{{ article.articleId }}" class="quick-view">
											                    <span>
											                        <span class="icon icon-visibility"></span>QUICK VIEW
											                    </span>
                                                            </a>
                                                        </div>
                                                        <h2 class="title">
                                                            <a href="#">
                                                                {{ article.name }}
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            {{ article.price }}
                                                        </div>
                                                        <div class="description">
                                                            {{ article.description }}
                                                        </div>
                                                        <div class="product_inside_hover">
                                                            <div class="product_inside_info">
                                                                <a class="btn btn-product_addtocart" href="#"
                                                                   data-toggle="modal"
                                                                   data-target="#ModalAddToCartProduct-{{ article.articleId }}">
                                                                    <span class="icon icon-shopping_basket"></span>ADD
                                                                    TO CART
                                                                </a>
                                                                <a href="#" class="quick-view btn" data-toggle="modal"
                                                                   data-target="#ModalquickView-{{ article.articleId }}">
                                                                    <span>
                                                                    <span class="icon icon-visibility"></span>QUICK VIEW
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal  fade" id="ModalquickView-{{ article.articleId }}"
                                                 tabindex="-1" role="dialog" aria-label="myModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content ">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true"><span
                                                                        class="icon icon-clear"></span></button>
                                                        </div>
                                                        <form>
                                                            <div class="modal-body">
                                                                <!--modal-quick-view-->
                                                                <div class="modal-quick-view">
                                                                    <div class="row">
                                                                        <div class="col-sm-5 col-lg-6">
                                                                            <div class="product-main-image">
                                                                                <img src='{{ asset('uploads/Articles/images/'~article.principalCover) }}'
                                                                                     alt="{{ article.name }}"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-7 col-lg-6">
                                                                            <div class="product-info">
                                                                                <div class="add-info">
                                                                                    <div class="sku pull-left">
                                                                                        {#<span class="font-weight-medium color-defaulttext2">SKU:</span> mtk012c#}
                                                                                    </div>
                                                                                    <div class="availability pull-left">
                                                                                        <span class="font-weight-medium color-defaulttext2">Availability:</span>
                                                                                        {% if article.isAvailable == '1' %}
                                                                                            <span class="text-success">In Stock</span>
                                                                                        {% else %}
                                                                                            <span class="color-base">Out stock</span>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <h1 class="title">{{ article.name }}</h1>
                                                                                <div class="price">
                                                                                    ${{ article.price|number_format(2, '.', ',') }}
                                                                                </div>
                                                                                <div class="description hidden-xs">
                                                                                    <div class="text">
                                                                                        {{ article.description }}
                                                                                    </div>
                                                                                </div>
                                                                                {#<div class="wrapper">
                                                                                    <div class="title-options">Texture <span class="color-required">*</span></div>
                                                                                    <ul class="options-swatch-texture">
                                                                                        <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-01.jpg') }}" alt=""></a></li>
                                                                                        <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-02.jpg') }}" alt=""></a></li>
                                                                                        <li><a href="#"><img src="{{ asset('assets/frontend/images/custom/texture-img-03.jpg') }}" alt=""></a></li>
                                                                                    </ul>
                                                                                </div>#}
                                                                                {#<div class="wrapper">
                                                                                    <div class="title-options">Size <span class="color-required">*</span></div>
                                                                                    <ul class="tags-list">
                                                                                        <li><a href="#">XS</a></li>
                                                                                        <li class="active"><a href="#">S</a></li>
                                                                                        <li><a href="#">M</a></li>
                                                                                        <li><a href="#">L</a></li>
                                                                                    </ul>
                                                                                </div>#}
                                                                                <div class="wrapper">
                                                                                    {#<div class="pull-left"><label class="qty-label">qty</label></div>
                                                                                    <div class="pull-left">
                                                                                        <div class="style-2 input-counter">
                                                                                            <span class="minus-btn"></span>
                                                                                            <input type="text" value="1" size="5"/>
                                                                                            <span class="plus-btn"></span>
                                                                                        </div>
                                                                                    </div>#}
                                                                                    <div class="pull-left">
                                                                                        <a href="#"
                                                                                           class="btn btn-addtocart"><span
                                                                                                    class="icon icon-shopping_basket"></span>SHOP
                                                                                            NOW!</a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="wrapper">
                                                                                    <div class="pull-left">
                                                                                        {#<ul class="product_inside_info_link">
                                                                                            <li class="text-right">
                                                                                                <a href="#">
                                                                                                    <span class="fa fa-heart-o"></span>
                                                                                                    <span class="text">ADD TO WISHLIST</span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li class="text-left">
                                                                                                <a href="#" class="compare-link">
                                                                                                    <span class="fa fa-balance-scale"></span>
                                                                                                    <span class="text">ADD TO COMPARE</span>
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul>#}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="wrapper">
                                                                                    {#<ul class="social-icon-square">
                                                                                        <li><a class="icon-01" href="#"></a></li>
                                                                                        <li><a class="icon-02" href="#"></a></li>
                                                                                        <li><a class="icon-03" href="#"></a></li>
                                                                                        <li><a class="icon-04" href="#"></a></li>
                                                                                        <li><a class="icon-05" href="#"></a></li>
                                                                                    </ul>#}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/modal-quick-view-->
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- modalAddToCartProduct -->
                                            <div class="modal  fade" id="ModalAddToCartProduct-{{ article.articleId }}"
                                                 tabindex="-1" role="dialog" aria-label="myModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-md">
                                                    <div class="modal-content ">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true"><span
                                                                        class="icon icon-clear"></span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!--  -->
                                                            <div class="modal-add-cart-product desctope visible-md visible-lg">
                                                                <div class="row">
                                                                    <div class="col-sm-6"
                                                                         style="position: relative;text-align: center;">
                                                                        <div class="modal-messages"
                                                                             style="text-align: center">
                                                                            <span class="icon color-base icon-error"
                                                                                  style="font-size: 34px;line-height: 34px;"></span>
                                                                            <p style="font-size: 20px;
                                        line-height: 26px;
                                        margin: 1px 8% 0;
                                        font-weight: 500;
                                        color: #333333;">
                                                                                Add {{ article.name }} to your shopping
                                                                                cart
                                                                            </p>
                                                                        </div>
                                                                        <div class="modal-product"
                                                                             style="margin-top: 34px;">
                                                                            <div class="image-box"
                                                                                 style="width: 202px;margin: 0 auto;">
                                                                                <img src="{{ asset('uploads/Articles/images/'~article.principalCover) }}"
                                                                                     alt="{{ article.name }}"
                                                                                     style="width: 100%;height: auto;">
                                                                            </div>
                                                                            <div class="title" style="color: #333333;
                                                                font-size: 14px;
                                                                line-height: 21px;
                                                                margin: 15px 8% 0;">
                                                                                {{ article.name }}
                                                                            </div>
                                                                            <div class="description" style="color: #777;
                                                                    font-size: 12px;
                                                                    line-height: 21px;
                                                                    margin-top: 6px;">
                                                                                {{ article.description }}
                                                                            </div>
                                                                            <div class="qty" style="color: #333333;
                                                            margin-top: 26px;
                                                            font-size: 14px;
                                                            font-weight: 500;">
                                                                                Qty: 1
                                                                            </div>
                                                                        </div>
                                                                        <div class="total" style="padding-bottom: 0;font-size: 20px;
                                                            color: #333333;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;">
                                                                            TOTAL: <span style="font-size: 24px;
                                                        color: #5fd179;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                        ${{ article.price|number_format(2, '.', ',') }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6"
                                                                         style="position: relative;text-align: center;">

                                                                        {% set cart = getUserCart() %}
                                                                        {% if cart %}
                                                                            <div class="cart-item-total"
                                                                                 style="color: #333333;font-size: 20px;text-align: center;">
                                                                                <a href="{{ path('cart_index') }}">
                                                                                    <div class="cart-item-icon" style="display: flex;
                                                                            justify-content: center;
                                                                            align-items: center;
                                                                            font-weight: 500;
                                                                            color: #5fd179;">
                                            <span class="icon icon-shopping_basket" style=" font-size: 34px;
                                                                                            line-height: 34px;
                                                                                            margin: 0 7px;"></span>
                                                                                        View Cart
                                                                                    </div>
                                                                                </a>
                                                                                <p style="  font-size: 20px;
                                                line-height: 26px;
                                                font-weight: 500;
                                                margin-top: 2px;">
                                                                                    There are {{ cart.articles|length }}
                                                                                    items<br> in your cart
                                                                                </p>
                                                                            </div>
                                                                            <div class="total-product" style="  font-size: 14px;
                                                                    font-weight: 500;
                                                                    color: #333333;
                                                                    margin-top: 24px;
                                                                    text-align: center;">
                                                                                Total products:
                                                                                <span style="color: #5fd179;">
                                            {% set total = 0 %}
                                                                                    {% set totalProducts = 0 %}
                                                                                    {% for article  in cart.articles %}
                                                                                        {% set totalProducts = total + article.price %}
                                                                                        {% set total = totalProducts %}
                                                                                    {% endfor %}
                                                                                    ${{ totalProducts|number_format(2, '.', ',') }}
                                        </span>
                                                                            </div>
                                                                            <div class="total" style="  font-size: 20px;
                                                            color: #333333;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;
                                                            padding-bottom: 23px;
                                                            text-align: center;">
                                                                                TOTAL:
                                                                                <span style="font-size: 24px;
                                                        color: #5fd179;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                            {% set newTotal = totalProducts + article.price %}
                                                                                    ${{ newTotal|number_format(2, '.', ',') }}
                                                                                    {#$135#}
                                        </span>
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="cart-item-total"
                                                                                 style="color: #333333;font-size: 20px;text-align: center;">
                                                                                <a href="{{ path('cart_index') }}">
                                                                                    <div class="cart-item-icon" style="display: flex;
                                                                            justify-content: center;
                                                                            align-items: center;
                                                                            font-weight: 500;
                                                                            color: #5fd179;">
                                            <span class="icon icon-shopping_basket" style=" font-size: 34px;
                                                                                            line-height: 34px;
                                                                                            margin: 0 7px;"></span>
                                                                                        View Cart
                                                                                    </div>
                                                                                </a>
                                                                                <p style="  font-size: 20px;
                                                line-height: 26px;
                                                font-weight: 500;
                                                margin-top: 2px;">
                                                                                    There are no item<br> in your cart
                                                                                </p>
                                                                            </div>
                                                                            <div class="total-product" style="  font-size: 14px;
                                                                    font-weight: 500;
                                                                    color: #333333;
                                                                    margin-top: 24px;
                                                                    text-align: center;">
                                                                                Total products: <span
                                                                                        style="color: #5fd179;">${{ article.price|number_format(2, '.', ',') }}</span>
                                                                            </div>
                                                                            <div class="total" style="  font-size: 20px;
                                                            color: #333333;
                                                            font-weight: bold;
                                                            margin-top: 9px;
                                                            letter-spacing: 0.02em;
                                                            padding-bottom: 23px;
                                                            text-align: center;">
                                                                                TOTAL: <span style="font-size: 24px;
                                                        color: #5fd179;
                                                        font-weight: 500;
                                                        letter-spacing: inherit;">
                                        ${{ article.price|number_format(2, '.', ',') }}</span>
                                                                            </div>
                                                                        {% endif %}

                                                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                            <a href="{{ path('add_article_to_cart', {'id': article.articleId}) }}"
                                                                               class="btn invert"
                                                                               style="margin-top: 10px;">ADD TO CART</a>
                                                                        {% else %}
                                                                            <a href="{{ path('login') }}"
                                                                               class="btn invert"
                                                                               style="margin-top: 10px;">
                                                                                Login to add to cart</a>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-add-cart-product mobile visible-sm visible-xs"
                                                                 style="text-align: center;">
                                                                <div class="modal-messages" style=" text-align: center;
                                                            font-size: 14px;
                                                            line-height: 17px;">
                                                                    <span class="icon color-base icon-error"
                                                                          style="font-size: 34px;line-height: 34px;"></span>
                                                                    <p style="font-size: 14px;
                                    line-height: 17px;
                                    font-weight: 500;
                                    margin-top: 8px;
                                    color: #777;">
                                                                        {{ article.name }}
                                                                    </p>
                                                                </div>
                                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                    <a href="{{ path('add_article_to_cart', {'id': article.articleId}) }}"
                                                                       class="btn btn-underline" style="margin-top: 20px;
                                                                    color: #333333;
                                                                    background: none;
                                                                    text-decoration: none;
                                                                    line-height: 15px;
                                                                    padding: 5px 0 0 0;
                                                                    height: inherit;
                                                                    border-bottom: 2px solid #333333;">
                                                                        ADD TO CART!</a>
                                                                {% else %}
                                                                    <a href="{{ path('login') }}"
                                                                       class="btn btn-underline" style="margin-top: 20px;
                                                                    color: #333333;
                                                                    background: none;
                                                                    text-decoration: none;
                                                                    line-height: 15px;
                                                                    padding: 5px 0 0 0;
                                                                    height: inherit;
                                                                    border-bottom: 2px solid #333333;">
                                                                        Login to add to cart</a>
                                                                {% endif %}
                                                            </div>
                                                            <!-- / -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /modalAddToCartProduct -->

                                        {% else %}
                                            <div class="container">
                                                <div class="row">
                                                    <div class="alert alert-warning">
                                                        There is no Article on this Category : {{ category.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="content">
                                <hr>
                            </div>
                            <div class="content offset-40">
                                {{ pagerfanta(articles, 'twitter_bootstrap_translated') }}
                            </div>
                        </div>
                        {% else %}
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="alert alert-info alert-dismissible" style="font-size: 18px;">

                                        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: static">&times;</a>
                                        There is no article on this category !
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                        {% endif %}
                    </div>
                </div>

            {% endblock %}

            {% block promo %}
                {#{% include 'frontend/partials/layout_1/_promo.html.twig' %}#}
            {% endblock %}

            {% block collections %}
                {#{% include 'frontend/partials/layout_1/_collections.html.twig' %}#}
            {% endblock %}

            {% block features %}
                {#{% include 'frontend/partials/layout_1/_features.html.twig' %}#}
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'frontend/partials/layout_1/_footer.html.twig' %}
    {% endblock %}

    {% block modal %}
        {% include 'frontend/partials/layout_1/_modal.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        <script src="{{ asset('assets/frontend/external/jquery/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/countdown/jquery.plugin.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/countdown/jquery.countdown.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/slick/slick.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/isotope/isotope.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/nouislider/nouislider.min.js') }}"></script>
        <script src="{{ asset('assets/frontend/external/panelmenu/panelmenu.js') }}"></script>
        <div class="mm-fullscreen-bg"></div>
        <script src="{{ asset('assets/frontend/js/quick-view.js') }}"></script>
        <script src="{{ asset('assets/frontend/js/main.js') }}"></script>
        <script>

            $('.next a, .next span').empty().append('Next <i class="icon icon-chevron_right"></i>');
            $('.prev a, .prev span').empty().append('Previous <i class="icon icon-chevron_left"></i>');

        </script>
    {% endblock %}

{% endblock %}