<html>
<head>

</head>
<body>
<link rel="shortcut icon" href="{{ asset('assets/backend/images/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ asset('assets/backend/images/favicon.ico') }}" type="image/x-icon">
    {% set total = 0 %}
    {% set totalProducts = 0 %}

    {% for article in order.cart.articles %}
        {% set totalProducts = total + article.price  %}
        {% set total = totalProducts %}
    {% endfor %}

    <!--  https://slicedinvoices.com/pdf/wordpress-pdf-invoice-plugin-sample.pdf -->
    <br/><br/>
    <table cellspacing="0" cellpadding="2" border="0">
        <tr>

            {#<td>
                <table cellspacing="0" cellpadding="0" border="0" width="10">
                    <tr><td>&nbsp;</td></tr>
                </table>
            </td>#}
            <td width="180">&nbsp;</td>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" >
                    <tr>
                        <td style="font-size: 19px;color: #2c2c2c;"><b>INVOICE N° {{ order.orderCode }}</b></td>
                    </tr>
                </table>
            </td>
            <td width="220">&nbsp;</td>
        </tr>
    </table>

    <br/><br/><br/><br/>

    <table cellspacing="0" cellpadding="2" border="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" >
                    <tr>
                        <td style="font-size: 9px;color: #000000;"><b>From:</b></td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #3e83bf;">Dar Nawal</td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">Suite 5A-1204</td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">address</td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">City 12345, Country</td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">info@darnawal.com</td>
                    </tr>
                </table>
            </td>
            {#<td>
                <table cellspacing="0" cellpadding="0" border="0" width="10">
                    <tr><td>&nbsp;</td></tr>
                </table>
            </td>#}
            <td width="130">&nbsp;</td>
            <td>
                <table cellspacing="0" cellpadding="2" width="200" {#style="border:1px solid #999999"#}>
                    <tr>
                        <td style="background-color: #FEFEFE;border: 0.1px solid #999999; font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            Invoice Code
                        </td>
                        <td style="background-color: #FEFEFE;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            {{ order.orderCode }}
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #FEFEFE;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            Order Code
                        </td>
                        <td style="background-color: #FEFEFE;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            {{ order.orderCode }}
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #FEFEFE ;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            Invoice Date
                        </td>{#/*ddd*/#}
                        <td style="background-color: #FEFEFE;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            {{ date('now')|date("F j, Y") }}
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #FEFEFE ;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            Due Date
                        </td>{#/*f2f2f2*/#}
                        <td style="background-color: #FEFEFE;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            {{ order.createdAt|date("F j, Y") }}
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #f2f2f2;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            &nbsp;
                            <strong>Total Due</strong>
                        </td>
                        <td style="background-color: #f2f2f2;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;">
                            <strong>
                                ${{ totalProducts|number_format(2, '.', ',') }}
                            </strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <br/><br/><br/>

    <table cellspacing="0" cellpadding="2" border="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" >
                    <tr>
                        <td style="font-size: 9px;color: #000000;"><b>To:</b></td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">{{ order.cart.user.name|capitalize }} {{ order.cart.user.lastName|upper }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">{{ order.address.adressText }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">{{ order.address.city }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">{{ order.address.zipCode }}, {{ order.address.country }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 9px;color: #2c2c2c;">{{ order.cart.user.email }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <br /><br /><br /><br />

    <table cellspacing="0" cellpadding="2" border="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="6" {#style="border:1px solid #999999"#}>
                    <tr>
                        <td style="font-size: 9px;
                            color: #2c2c2c;background-color: #f2f2f2;
                            border: 0.1px solid #999999;
                            text-align: center" width="50"
                        >
                            <b>#</b>
                        </td>
                        <td style="font-size: 9px;
                            color: #2c2c2c;background-color: #f2f2f2;
                            border: 0.1px solid #999999" width="220"
                        >
                            <b>Product(s)</b>
                        </td>
                        <td style="font-size: 9px;
                            color: #2c2c2c;background-color: #f2f2f2;
                            border: 0.1px solid #999999; text-align: right;"
                            width="80"
                        >
                            <b>Rate Price</b>
                        </td>
                        <td style="font-size: 9px;color: #2c2c2c;
                            background-color: #f2f2f2;border: 0.1px solid #999999;
                            text-align: right;" width="80"
                        >
                            <b>Adjust</b>
                        </td>
                        <td style="font-size: 9px;color: #2c2c2c;
                            background-color: #f2f2f2;border: 0.1px solid #999999;
                             text-align: right;" width="80"
                        >
                            <b>Sub Total</b></td>
                    </tr>
                </table>
                {% for article in order.cart.articles %}
                    <table cellspacing="0" cellpadding="2">
                        <tr>
                            <td style="font-size: 9px;
                            color: #2c2c2c;background-color: #FEFEFE ;
                            border: 0.1px solid #999999; text-align: center;"
                                width="50"
                            >
                                <span style="margin-top: 100px;">{{ loop.index }}</span>
                            </td>{#/*f2f2f2*/#}
                            <td style="font-size: 9px;color: #2c2c2c;background-color: #FEFEFE ;border: 0.1px solid #999999" width="220">
                                <img src="{{ asset('uploads/Articles/images/'~article.principalCover) }}" width="50" />
                                {{ article.name }}<br />
                                <i style="font-size: 8px;color: #999">
                                    &nbsp;
                                    {{ article.description }}
                                </i>
                            </td>{#/*f2f2f2*/#}
                            <td style="font-size: 9px;color: #2c2c2c;background-color: #FEFEFE ;border: 0.1px solid #999999; text-align: right;" width="80">
                                ${{ article.price|number_format(2, '.', ',') }}
                            </td>{#/*f2f2f2*/#}
                            <td style="font-size: 9px;color: #2c2c2c;background-color: #FEFEFE ;border: 0.1px solid #999999; text-align: right;" width="80">
                                0.00%
                            </td>{#/*f2f2f2*/#}
                            <td style="font-size: 9px;color: #2c2c2c;background-color: #FEFEFE;border: 0.1px solid #999999; text-align: right;" width="80">
                                ${{ article.price|number_format(2, '.', ',') }}
                            </td>
                        </tr>
                    </table>
                {% endfor %}

            </td>
        </tr>
    </table>

    <br /><br /><br />

    <table cellspacing="0" cellpadding="2" border="0">
        <tr>
            <td width="155">&nbsp;</td>
            <td width="155">&nbsp;</td>
            <td>
                <table cellspacing="0" cellpadding="2" width="200" {#style="border:1px solid #999999"#}>
                    <tr>
                        <td style="background-color: #FEFEFE ;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;text-align: right;">
                            &nbsp;
                            Sub Total
                        </td>{#/*ddd*/#}
                        <td style="background-color: #FEFEFE;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;text-align: right;">
                            &nbsp;
                            ${{ totalProducts|number_format(2, '.', ',') }}
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #FEFEFE ;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;text-align: right;">
                            &nbsp;
                            Tax
                        </td>{#/*f2f2f2*/#}
                        <td style="background-color: #FEFEFE;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;text-align: right;">
                            &nbsp;
                            $0.00
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #f2f2f2;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;text-align: right;">
                            &nbsp;
                            <strong>Total</strong>
                        </td>
                        <td style="background-color: #f2f2f2;border: 0.1px solid #999999;font-size: 9px;color: #2c2c2c;text-align: right;">
                            <strong>
                                ${{ totalProducts|number_format(2, '.', ',') }}
                            </strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
<!----------------------------------------------------------- Tables Examples ---------------------------------------------------------->
    {#<table cellspacing="0" cellpadding="1" border="1">
    <tr>
        <td rowspan="3">COL 1 - ROW 1<br />COLSPAN 3</td>
        <td>COL 2 - ROW 1</td>
        <td>COL 3 - ROW 1</td>
    </tr>
    <tr>
        <td rowspan="2">COL 2 - ROW 2 - COLSPAN 2<br />text line<br />text line<br />text line<br />text line</td>
        <td>COL 3 - ROW 2</td>
    </tr>
    <tr>
        <td>COL 3 - ROW 3</td>
    </tr>

</table>

<br />
<br />

<table cellspacing="0" cellpadding="1" border="1">
    <tr>
        <td rowspan="3">COL 1 - ROW 1<br />COLSPAN 3<br />text line<br />text line<br />text line<br />text line<br />text line<br />text line</td>
        <td>COL 2 - ROW 1</td>
        <td>COL 3 - ROW 1</td>
    </tr>
    <tr>
        <td rowspan="2">COL 2 - ROW 2 - COLSPAN 2<br />text line<br />text line<br />text line<br />text line</td>
        <td>COL 3 - ROW 2</td>
    </tr>
    <tr>
        <td>COL 3 - ROW 3</td>
    </tr>

</table>

<br />
<br />

<table cellspacing="0" cellpadding="1" border="1">
    <tr>
        <td rowspan="3">COL 1 - ROW 1<br />COLSPAN 3<br />text line<br />text line<br />text line<br />text line<br />text line<br />text line</td>
        <td>COL 2 - ROW 1</td>
        <td>COL 3 - ROW 1</td>
    </tr>
    <tr>
        <td rowspan="2">COL 2 - ROW 2 - COLSPAN 2<br />text line<br />text line<br />text line<br />text line</td>
        <td>COL 3 - ROW 2<br />text line<br />text line</td>
    </tr>
    <tr>
        <td>COL 3 - ROW 3</td>
    </tr>

</table>

<br />
<br />

<table border="1">
    <tr>
        <th rowspan="3">Left column</th>
        <th colspan="5">Heading Column Span 5</th>
        <th colspan="9">Heading Column Span 9</th>
    </tr>
    <tr>
        <th rowspan="2">Rowspan 2<br />This is some text that fills the table cell.</th>
        <th colspan="2">span 2</th>
        <th colspan="2">span 2</th>
        <th rowspan="2">2 rows</th>
        <th colspan="8">Colspan 8</th>
    </tr>
    <tr>
        <th>1a</th>
        <th>2a</th>
        <th>1b</th>
        <th>2b</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
    </tr>
</table>

<br />
<br />

<table border="1" cellpadding="2" cellspacing="2">
    <thead>
    <tr style="background-color:#FFFF00;color:#0000FF;">
        <td width="30" align="center"><b>A</b></td>
        <td width="140" align="center"><b>XXXX</b></td>
        <td width="140" align="center"><b>XXXX</b></td>
        <td width="80" align="center"> <b>XXXX</b></td>
        <td width="80" align="center"><b>XXXX</b></td>
        <td width="45" align="center"><b>XXXX</b></td>
    </tr>
    <tr style="background-color:#FF0000;color:#FFFF00;">
        <td width="30" align="center"><b>B</b></td>
        <td width="140" align="center"><b>XXXX</b></td>
        <td width="140" align="center"><b>XXXX</b></td>
        <td width="80" align="center"> <b>XXXX</b></td>
        <td width="80" align="center"><b>XXXX</b></td>
        <td width="45" align="center"><b>XXXX</b></td>
    </tr>
    </thead>
    <tr>
        <td width="30" align="center">1.</td>
        <td width="140" rowspan="6">XXXX<br />XXXX<br />XXXX<br />XXXX<br />XXXX<br />XXXX<br />XXXX<br />XXXX</td>
        <td width="140">XXXX<br />XXXX</td>
        <td width="80">XXXX<br />XXXX</td>
        <td width="80">XXXX</td>
        <td align="center" width="45">XXXX<br />XXXX</td>
    </tr>
    <tr>
        <td width="30" align="center" rowspan="3">2.</td>
        <td width="140" rowspan="3">XXXX<br />XXXX</td>
        <td width="80">XXXX<br />XXXX</td>
        <td width="80">XXXX<br />XXXX</td>
        <td align="center" width="45">XXXX<br />XXXX</td>
    </tr>
    <tr>
        <td width="80">XXXX<br />XXXX<br />XXXX<br />XXXX</td>
        <td width="80">XXXX<br />XXXX</td>
        <td align="center" width="45">XXXX<br />XXXX</td>
    </tr>
    <tr>
        <td width="80" rowspan="2" >RRRRRR<br />XXXX<br />XXXX<br />XXXX<br />XXXX<br />XXXX<br />XXXX<br />XXXX</td>
        <td width="80">XXXX<br />XXXX</td>
        <td align="center" width="45">XXXX<br />XXXX</td>
    </tr>
    <tr>
        <td width="30" align="center">3.</td>
        <td width="140">XXXX1<br />XXXX</td>
        <td width="80">XXXX<br />XXXX</td>
        <td align="center" width="45">XXXX<br />XXXX</td>
    </tr>
    <tr>
        <td width="30" align="center">4.</td>
        <td width="140">XXXX<br />XXXX</td>
        <td width="80">XXXX<br />XXXX</td>
        <td width="80">XXXX<br />XXXX</td>
        <td align="center" width="45">XXXX<br />XXXX</td>
    </tr>
</table>

<br />
<br />

<table border="1" cellpadding="2" cellspacing="2" nobr="true">
    <tr>
        <th colspan="3" align="center">NON-BREAKING TABLE</th>
    </tr>
    <tr>
        <td>1-1</td>
        <td>1-2</td>
        <td>1-3</td>
    </tr>
    <tr>
        <td>2-1</td>
        <td>3-2</td>
        <td>3-3</td>
    </tr>
    <tr>
        <td>3-1</td>
        <td>3-2</td>
        <td>3-3</td>
    </tr>
</table>

<br />
<br />

<table border="1" cellpadding="2" cellspacing="2" align="center">
    <tr nobr="true">
        <th colspan="3">NON-BREAKING ROWS</th>
    </tr>
    <tr nobr="true">
        <td>ROW 1<br />COLUMN 1</td>
        <td>ROW 1<br />COLUMN 2</td>
        <td>ROW 1<br />COLUMN 3</td>
    </tr>
    <tr nobr="true">
        <td>ROW 2<br />COLUMN 1</td>
        <td>ROW 2<br />COLUMN 2</td>
        <td>ROW 2<br />COLUMN 3</td>
    </tr>
    <tr nobr="true">
        <td>ROW 3<br />COLUMN 1</td>
        <td>ROW 3<br />COLUMN 2</td>
        <td>ROW 3<br />COLUMN 3</td>
    </tr>
</table>

<br />
<br />

<h2 style="text-align: center">Subscribers Email List </h2>
<table style="border: 1px solid #666666;">
    <thead>
    <tr>
        <th style="border: 1px solid #666666;height: 20px; text-align: center;font-weight: bold">Emails</th>
        <th style="border: 1px solid #666666;height: 20px; text-align: center;font-weight: bold">Subscribed At</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td style="border: 1px solid #666666;text-align: center;">- {{ order.orderId }}</td>
            <td style="border: 1px solid #666666;text-align: center;">- {{ order.orderCode }}</td>
        </tr>
    </tbody>
</table>#}
<!-----------------------------------------------------------End Tables Examples -------------------------------------------------------->

</body>
</html>