{% extends 'frontend/index.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block loader %}
        {% include 'frontend/partials/layout_1/_loader.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'frontend/partials/layout_1/_menu.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include 'frontend/partials/layout_1/_header.html.twig' %}
    {% endblock %}

    {% block breadcrumb %}
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li>FAQs</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <!-- Content -->
        <div id="pageContent">

            {% block slider %}
                <div class="container offset-0">
                    <div class="row">

                        <!-- center col -->
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="content offset-0">
                                <div class="number-of-products pull-right">{{ articles|length }} Item(s)</div>
                                <h1 class="block-title text-left">Search</h1>
                            </div>
                            <div class="content">
                                <hr>
                            </div>
                            <div class="product-listing row">
                                {% for article in articles %}
                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-one-three" style="display: inline-block">
                                        <div class="product">
                                            <div class="product_inside">
                                                <div class="image-box">
                                                    <a href="{{ path('article_index',{'id': article.articleId}) }}">
                                                        <img src="{{ asset('uploads/Articles/images/'~article.principalCover) }}" alt="{{ article.name }}">
                                                    </a>
                                                    <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
											<span>
											<span class="icon icon-visibility"></span>QUICK VIEW
											</span>
                                                    </a>
                                                </div>
                                                <h2 class="title">
                                                    <a href="{{ path('article_index',{'id': article.articleId}) }}">{{ article.name }}</a>
                                                </h2>
                                                <div class="price">
                                                    {{ article.price|number_format(2, '.', ' ') }} KWD
                                                </div>
                                                <div class="description">
                                                    {{ article.description }}
                                                </div>
                                                <div class="product_inside_hover">
                                                    <div class="product_inside_info">
                                                        {#<ul class="options-swatch options-swatch-color">
                                                            <li>
                                                                <a href="#">
                                                                    <span class="swatch-label color-dark-grey"></span>
                                                                </a>
                                                            </li>
                                                            <li class="active">
                                                                <a href="#">
                                                                    <span class="swatch-label color-pale-gold"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="swatch-label color-white border-bg"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="rating">
                                                            <span class="icon-star"></span>
                                                            <span class="icon-star"></span>
                                                            <span class="icon-star"></span>
                                                            <span class="icon-star"></span>
                                                            <span class="icon-star empty-star"></span>
                                                        </div>#}
                                                        <a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#modalAddToCartProduct">
                                                            <span class="icon icon-shopping_basket"></span>ADD TO CART
                                                        </a>
                                                        <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
												<span>
												<span class="icon icon-visibility"></span>QUICK VIEW
												</span>
                                                        </a>
                                                        <ul class="product_inside_info_link">
                                                            {#<li class="text-right">
                                                                <a href="#" class="wishlist-link">
                                                                    <span class="fa fa-heart-o"></span>
                                                                    <span class="text">Add to wishlist</span>
                                                                </a>
                                                            </li>
                                                            <li class="text-left">
                                                                <a href="#" class="compare-link">
                                                                    <span class="fa fa-balance-scale"></span>
                                                                    <span class="text">Add to compare</span>
                                                                </a>
                                                            </li>#}
                                                            <li>
                                                                <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                                                    <span class="icon icon-visibility"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="content">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block promo %}
                {#{% include 'frontend/partials/layout_1/_promo.html.twig' %}#}
            {% endblock %}

            {% block collections %}
                {#{% include 'frontend/partials/layout_1/_collections.html.twig' %}#}
            {% endblock %}

            {% block features %}
                {#{% include 'frontend/partials/layout_1/_features.html.twig' %}#}
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'frontend/partials/layout_1/_footer.html.twig' %}
    {% endblock %}

    {% block modal %}
        {% include 'frontend/partials/layout_1/_modal.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        {% include 'frontend/partials/layout_1/_javascript.html.twig' %}
    {% endblock %}

{% endblock %}